#assign-button {
  justify-content: space-between;
  right: 0;
  color: #05342f;
  font-size: var(--text-size);
  height: 5vh;
  width: clamp(95px, 10vh, 110px);
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 8px;
}
#assign-button:disabled {
  background-color: white;
  opacity: 0.5;
}
