.sidebar .profile-dropdown {
  background-color: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  padding: 2px 8px 2px 2px;
}

.profile-name-in-sidebar{
    font-size: 3vh;

}
.profile-email-in-sidebar{
    font-size: 3vh;

}
.profile-dropdown-in-sidebar{
    background-color: transparent;
    border: 0;
    color: inherit;
    cursor: pointer;
    padding: 2px 8px 2px 2px;
}

/* Sidebar.css */
.profile-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start (left) of the container */
  }
  
  .profile-section > * {
    margin-left: 0; /* Reset margin for all children elements */
  }
  
  .profile-dropdown-in-sidebar {
    width: 100%; /* Make the dropdown fill the width of the container */
  }
  
