.LoginWithPhone-login-method {
  position: absolute;
  top: 45%;
  width: 100%;
  height: 100%;
  background-image: url("/public/assets/loginAssets/LoginBG2.svg");
  background-repeat: no-repeat;
  background-position: top center;
}

.LoginWithPhone-login-method-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.LoginWithPhone-login-with-phone-text {
  font-size: 24px;
  color: var(--text-color);
  font-weight: bold;
}

/* Phone input container */
.LoginWithPhone-phone-input-wrapper {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  width: 75vw;
  max-width: 325px;
  min-width: 265px;
  height: 50px;
  padding-left: 12px;
  overflow: hidden;
}

.LoginWithPhone-country-code {
  font-size: 22px;
  font-weight: 600;
  color: var(--text-color);
  margin-right: 10px;
  white-space: nowrap;
  padding-right: 10px;
  border-right: 1px solid #02c1c1; /* vertical line */
}

.LoginWithPhone-login-phone-input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 22px;
  background-color: transparent;
  font-weight: 600;
  color: var(--text-color);
}

.LoginWithPhone-login-phone-input::placeholder {
  color: var(--text-color);
  font-size: 12px;
  font-weight: 600;
}

/* START button */
.LoginWithPhone-login-with-phone-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px !important;
  height: 60px !important;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 28px;
  font-weight: 600;
  padding-top: 4px;
  border-bottom: 6px solid #8a2901;
}

.LoginWithPhone-login-with-phone-button:active {
  border-bottom: 4px solid #8a2901 !important;
  transition:
    background 0.1s,
    color 0.1s;
}

.LoginWithPhone-login-with-phone-button:disabled {
  background-color: #6d8c87 !important;
  color: #a8a8a8 !important;
  border-bottom: 7px solid #8a8a8a !important;
  cursor: not-allowed;
  pointer-events: none; /* Prevent any interaction like :active */
}

.LoginWithPhone-login-error-message {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 600;
  margin-bottom: -8px;
  text-align: center;
}

@media (orientation: landscape) {
  .LoginWithPhone-phone-input-wrapper{
    height: 35px;
  }
}

/* Responsive styling */
@media (max-width: 768px) {
  .LoginWithPhone-login-method {
    border-top-left-radius: 50% 80px;
    border-top-right-radius: 50% 80px;
    background-size: cover;
    top: 42%;
    min-height: 220px;
    padding-top: 32px;
    padding-bottom: 24px;
  }

  .LoginWithPhone-login-with-phone-button {
    max-width: 220px;
    font-size: 32px;
    margin-top: 8px;
  }

  .LoginWithPhone-login-with-phone-text {
    font-size: 32px;
  }
}

@media (max-height: 650px) {
  .LoginWithPhone-login-method {
    top: 40%;
  }
  .LoginWithPhone-login-method-content {
    gap: 10px;
  }
  .LoginWithPhone-login-with-phone-button {
    margin-top: 8px;
  }
}
@media (max-height: 540px) {
  .LoginWithPhone-login-method {
    top: 30%;
  }
  .LoginWithPhone-login-method-content {
    gap: 0px;
  }
  .LoginWithPhone-login-with-phone-button {
    margin-top: 8px;
  }
}

@media (max-width: 400px) and (max-height: 845px) {
  .LoginWithPhone-login-method-content {
    gap: 6px !important;
  }
  .LoginWithPhone-login-with-phone-text {
    font-size: 24px !important;
  }
  .LoginWithPhone-phone-input-wrapper {
    width: 75% !important;
    height: 40px !important;
  }
  .LoginWithPhone-country-code {
    font-size: 16px !important;
    padding-right: 6px !important;
    margin-right: 6px !important;
  }
  .LoginWithPhone-login-phone-input {
    font-size: 14px !important;
  }
  .LoginWithPhone-login-phone-input::placeholder {
    font-size: 10px !important;
  }
  .LoginWithPhone-login-with-phone-button {
    max-height: 50px !important;
  }
  .LoginWithPhone-login-with-phone-button:active {
    border-bottom-width: 2px !important;
  }
  .LoginWithPhone-login-with-phone-button:disabled {
    border-bottom-width: 5px !important;
  }
  .LoginWithPhone-login-error-message {
    font-size: 10px !important;
    margin-bottom: -4px !important;
  }
}

@media screen and (min-width: 533px) and (max-width: 700px) and (min-height: 940px) and (max-height: 1200px) {
.LoginWithPhone-login-method-content{
  margin-top: 5%;
}
}
