/* Main container */
.OtpVerification-method {
  position: absolute;
  top: 43%;
  width: 100%;
  height: 100%;
  background-image: url("/public/assets/loginAssets/LoginBG2.svg");
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.OtpVerification-title {
  margin-top: 28px;
  font-size: 16px;
  font-weight: 600;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 16px;
}

.OtpVerification-error {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
  color: var(--text-color);
  text-align: center;
}

.OtpVerification-inputs {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.OtpVerification-box {
  width: 39px;
  height: 60px;
  border-radius: 10px;
  background: #fff;
  font-size: 32px;
  font-weight: bold;
  color: var(--text-color);
  text-align: center;
  outline: none;
  border: none;
  transition: border 0.2s;
  box-shadow: 0 2px 0 #4b7213;
}

.OtpVerification-box:focus {
  border: 2.5px solid #f34d08;
}

.OtpVerification-box.error {
  border: 2.5px solid #ff0000;
}

.OtpVerification-timer {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: var(--text-color);
}

.OtpVerification-resend-button {
  background: none;
  border: none;
  color: #f34d08;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline;
  padding: 5px 10px;
}

.OtpVerification-resend-button:disabled {
  color: #8a8a8a;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .OtpVerification-method {
    top: 46%;
    border-top-left-radius: 50% 80px;
    border-top-right-radius: 50% 80px;
  }
  .OtpVerification-error {
    margin-top: 15px;
  }
  .OtpVerification-title {
    font-size: 16px;
    margin-top: 60px;
  }
}

@media (max-height: 500px) {
  .OtpVerification-method {
    top: 23%;
  }
  .OtpVerification-title {
    margin-top: 32px;
  }
}

@media screen and (min-width: 533px) and (max-width: 700px) and (min-height: 940px) and (max-height: 1200px){
  .OtpVerification-title{
    margin-top: 85px;
  }
}