.school-details-card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 16px;
  box-shadow:none !important;
  background: #fff;
}

.school-details-title {
  font-weight: 600 !important;
  font-size: 1rem ;
  margin-bottom: 4px;
}
.school-details-text {
  font-weight: 600 !important;
  margin-bottom: 12px !important;
}

.school-details-field-stack {
  margin: 10px 0;
}

.school-details-label {
  font-size: 0.875rem;
  font-weight: 500;
  color: #666;
  margin-bottom: 2px;
}

.school-details-value {
  font-size: 1rem;
  color: #222;
}

.school-details-row {
  display: flex;
  justify-content: space-between;
}

.school-details-label-sm {
  font-size: 0.875rem;
  font-weight: 500;
  color: #666;
}

.school-details-value-sm {
  font-size: 1rem;
  color: #222;
}
