.profile-container2 {
  display: flex;
  flex-direction: column;
}

.profile-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
}

.profile-row label {
  width: 150px;
  text-align: right;
  margin-right: 10px;
}

.profile-row input,
.profile-row select {
  flex: 1;
  min-width: 0;
  width: 100%;
  background-color: white;
}

.profile-line input[type="text"],
.profile-line input[type="number"],
.profile-line select {
  background-color: white;
}
.student-profile-section-in-addstudent {
  background-color: #fffbec;
  border-radius: 5vh;
  flex: 1;
  width: calc(100% - 4vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2vw;
  margin: 1vw;
  max-width: 70vh;
}
.gender-options{
  width: 5%;
}
