.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: white;
}
.menu-icon {
  width: 35px;
  height: 35px;
  background-image: url("../../../public/assets/icons/malta/menu_icon.png");
  background-size: contain; /* This ensures the image covers the entire area of the div */
}
.chimple-logo {
  width: 159px;
  height: 25px;
  background-image: url("../../../public/assets/icons/malta/chimple_logo.png");
  background-size: contain; /* This ensures the image covers the entire area of the div */
}
