.teacher-img {
    position: relative;
    height: 8vh;
    width: 8vh;
    border-radius: 50%;
}
.header {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.teacher-details{
    padding-left: 10px;
    text-align: center;
}
.teacher-name{
    font-weight: bold;
    font-size: 20px;
    color: black;
    margin: 0;
}
.class-name{
    /* font-size: large; */
    color: black;
    margin: 0;
}