.breadcrumb-root {
  display: flex;
  align-items: center;
  margin-bottom: 0px; /* mb={3} */
  text-align: left;
  flex-wrap: wrap;
}

.breadcrumb-link {
  font-weight: 500;
  text-decoration: none; /* override default link underline */
  color: #757575; /* MUI text.secondary */
  cursor: pointer;
  font-size: 0.875rem; /* body2 font size */
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.breadcrumb-link:hover {
  text-decoration: underline;
}

.breadcrumb-link-bold {
  font-weight: bold;
  color: #000; /* or theme.palette.text.primary */
}

.breadcrumb-text {
  font-weight: 500;
  color: #757575;
  font-size: 0.875rem;
}

.breadcrumb-text-bold {
  font-weight: bold;
  color: #000;
}

.breadcrumb-separator {
  color: black;
  font-size: 20px;
}
