.search-filter-container-SearchAndFilter {
  display: flex;
  align-items: center;
  padding-left: 5px;
  gap: 1rem;
}

.search-input-SearchAndFilter .MuiOutlinedInput-root {
  border-radius: 8px;
  height: 48px;
}

.search-input-SearchAndFilter .MuiOutlinedInput-root {
  border-radius: 8px;   
  height: 48px;
}

.filter-button-SearchAndFilter {
  height: 48px;
  min-height: 48px;
  border-radius: 24px;  
  /* padding: 0 24px; */
  text-transform: none;
  border-color: #e0e0e0;
  color: #6b778c;
  margin-left: 0 !important;
}

.filter-button-SearchAndFilter.has-filters {
  border-color: #1976d2;
  color: #1976d2;
}

.filter-button-SearchAndFilter:hover {
  border-color: #1976d2; 
  background-color: rgba(25, 118, 210, 0.04);
}

.filter-button-SearchAndFilter .MuiButton-startIcon {
  margin-right: 8px;
  margin-left: -4px;
}
