.userprofile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile-info {
  display: flex;
  align-items: center;
}

.edit-icon {
  cursor: pointer;
  margin-left: 10px;
  color: black;
}

.userprofile-card {
  width: 300px;
  padding: 10px;
  border-radius: 2vh;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.userprofile-row {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.first-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.student-name1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  font-size: clamp(15px, 5vh, 26px);
  font-weight: 600;
  color: #707070;
}

.userprofile-label {
  width: 30%;
  text-align: left;
}
.userprofile-label span {
  color: #707070;
}

.userprofile-value {
  color: #707070;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.userprofile-value input,
.userprofile-value select {
  border: none;
  background-color: transparent;
  color: #707070;
  font-size: 20px;
  text-align: center;
}

.profile-info input {
  border: none;
  border-bottom: 0.2vh solid #333;
  background-color: transparent;
  font-size: 2vh;
  color: #707070;
}
.profile-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.usergender-options input[type="radio"] {
  accent-color: black;
}
.usergender-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.usergender-options label {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 18px;
}
