/* PathwayModal overlay */
.PathwayModal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* PathwayModal content */
.PathwayModal-content {
  position: relative;
  width: 476px;
  height: 196px;
  background: #fffdee;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 21px;
  display: flex;
  flex-direction: column;
  /* background-image:url(../../../public/pathwayAssets/BackgroundPopup.svg); */
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  font-size: 16px;
  color: #333;
  overflow: hidden;
  background-size: contain
}
.PathwayModal-content.slide-in {
  will-change: transform, opacity;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: translate3d(100vw, 0, 0);
  -webkit-transform: translate3d(100vw, 0, 0);
  animation: slideInRightToCenter 0.5s cubic-bezier(1,1,1,1) forwards;
  -webkit-animation: slideInRightToCenter 0.5s cubic-bezier(1,1,1,1) forwards;
}

.PathwayModal-content.slide-out {
  will-change: transform, opacity;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  animation: slideOutCenterToRight 0.5s cubic-bezier(1,1,1,1) forwards;
  -webkit-animation: slideOutCenterToRight 0.5s cubic-bezier(1,1,1,1) forwards;
}

/* Text inside modal */
.PathwayModal-text {
  font-weight: 600;
  z-index: 1;
  font-size: 19px;
  color: #182A4F;
  text-align: center;
  white-space: pre-line;
  margin-bottom: 5vh;
}

/* Close button */
.PathwayModal-close {
  position: absolute;
  top: 16px;
  right: 14px;
  width: 44px;
  height: 44px;
  background: #fffdee;
  border-radius: 50%;
  border: none;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1); */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}

.PathwayModal-close::before {
  transform: rotate(45deg);
}

.PathwayModal-close::after {
  transform: rotate(-45deg);
}

.PathwayModal-width {
  width: 40vw;
}

.learning-pathway-OK-button {
    width: 30vw;
    max-width: 130px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    border-bottom: 5px solid #8a2901;
    background: #f34d08;
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    transition: transform 0.1s ease;
    transform: translateY(2px);
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%) translateY(2px); 
}
.learning-pathway-OK-button:active {
  border-bottom: 2px solid #8a2901 !important;
  transition:
    background 0.1s,
    color 0.1s;
}
.learning-pathway-ok-text {
  line-height: 30px;
  display: inline-block;
  text-transform: uppercase;
}

@keyframes slideInRightToCenter {
  from {
    transform: translate3d(100vw, 0, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes slideInRightToCenter {
  from {
    -webkit-transform: translate3d(100vw, 0, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes slideOutCenterToRight {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(100vw, 0, 0);
    opacity: 0;
  }
}
@-webkit-keyframes slideOutCenterToRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    -webkit-transform: translate3d(100vw, 0, 0);
    opacity: 0;
  }
}
