.treasure-box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.treasure-box-wrapper {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.treasure-box-svg {
  width: auto;
  height: 20vh;
  object-fit: contain;
}
.treasure-box-gif {
  width: auto;
  height: 40vh;
  object-fit: contain;
}

.treasure-box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.treasure-box-wrapper {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.treasure-box-svg {
  width: auto;
  height: 20vh;
  object-fit: contain;
}
.treasure-box-gif {
  width: auto;
  height: 40vh;
  object-fit: contain;
}

.number-inside-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 5%);
  font-size: clamp(20px, 5vh, 24px);
  font-weight: bold;
  color: var(--text-color);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.stars-animation {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 240px;
  height: 240px;
  z-index: 1;
  pointer-events: none;
}

.scroll-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 5%);
  height: var(--text-sizeXL);
  overflow: hidden;
}

.scroll-item {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(20px, 5vh, 24px);
  color: var(--text-color);
  font-weight: bold;
}

.stars-animation {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 240px;
  height: 240px;
  z-index: 1;
  pointer-events: none;
}

.scroll-item {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(20px, 5vh, 24px);
  color: var(--text-color);
  font-weight: bold;
}

.highlight {
  color: var(--text-color);
}
