.treasure-box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0%;
  right: 0%;
  z-index: 5;
}

.treasure-box-wrapper {
  position: relative;
  width: 17.5vw;
  height: 20vh;
  min-width: 100px;
  max-width: 150px;
  min-height: 105px;
  max-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.treasure-box-svg {
  width: auto;
  height: 17vh;
  min-height: 50px;
  max-height: 100px;
  object-fit: contain;
}

.treasure-box-gif {
  width: auto;
  height: 42vh;
  object-fit: contain;
}

.number-inside-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -13%);
  font-size: clamp(20px, 5vh, 24px);
  font-weight: bold;
  color: var(--text-color);
  z-index: 2;
  font-family: "BalooRegular2";
}

.scroll-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
  height: 4vh;
  min-height: 28px;
  max-height: 35px;
  overflow: hidden;
  z-index: 2;
}

.scroll-item {
  height: clamp(50px, 3vh, 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "BalooRegular2";
  font-size: clamp(20px, 5vh, 24px);
  color: var(--text-color);
  font-weight: bold;
}

.stars-animation {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 240px;
  height: 240px;
  z-index: 1;
  pointer-events: none;
}

.highlight {
  color: var(--text-color);
}
