.chapter-button {
    font-size: var(--text-size);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: min(20px, 3vh);
    cursor: pointer;
    color: var(--text-color);
    text-align: center;
    white-space: nowrap;
  }
  .library-chapter-icon {
    background-color: white;
    /* clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%); */
    background-repeat: no-repeat;
    background-position: 50%;
    width: min(50px, 50px);
    height: min(50vh, 50px);
    border-radius: 50%;
  }
  .chapter-icon-container {
    display: flex;
    flex-direction: column;
    position: relative;
  }