/* src/Assignments.css */

.library-container {
  height: 100%;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: white;
  }
  .search-bar {
    margin-bottom: 20px;
  }
  
  .search-input {
    color: white;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .course-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill,
      minmax(clamp(80px, 40vh, 40px), 1fr));
    gap: 20px;
    max-height: 100vh; /* or any desired maximum height */
    overflow-y: auto; /* enables vertical scrolling */
  }
  
  .assignment-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
  }
  
  .assignment-icon {
    font-size: 40px;
    margin-bottom: 10px;
  }
  
  .assignment-text {
    font-size: 14px;
  }
  
  