.leaderboard-sticker-container {
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 16px;
  height: 100%;
  flex-grow: 1;
  padding-bottom: 30px;
}

.leaderboard-sticker-item {
  text-align: center;
  opacity: 1;
}

.leaderboard-sticker-disabled {
  opacity: 0.2;
}

.leaderboard-sticker-page {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100vh;
}

.leaderboard-sticker-section {
  margin-bottom: 20px;
  padding: 20px;
}

.section-divider {
  border: 1px solid lightslategray;
  height: 1px;
  width: 100%;
  color: black;
}