  .leaderboard-sticker-container {
    overflow-y: auto;
    display: grid;
    grid-template-columns: 15% 20% 20% 20% 16%;
    gap: 16px;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    align-items: center;
    text-align: center;
    overflow-x: hidden;
  }
  
  .leaderboard-sticker-item {
    text-align: center;
    opacity: 1;
  }
  
  .leaderboard-sticker-disabled {
    opacity: 0.2;
  }
  .leaderboard-sticker-page {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100vh;
  }
  
  .leaderboard-sticker-section {
    padding: 20px;
  }
  
  .section-divider {
    border: 1px solid lightslategray;
    height: 1px;
    width: 100%;
    color: black;
  }
  