.leaderboard-bonus-container {
  overflow-y: auto;
  display: grid;
  grid-template-columns: 20% 20% 20%;
  gap: 16px;
  height: 100%;
  flex-grow: 1;
  padding-bottom: 30px;
  justify-content: space-around;
}
.lost-bonus {
  filter: grayscale(2);
}
.leaderboard-bonus-item {
  text-align: center;
  opacity: 1;
}

.leaderboard-bonus-disabled {
  opacity: 0.2;
}
