.switch-button {
  width: 30vw;
  height: 6vh;
  text-align: center;
  display: flex;
  border-radius: 6px;
  background: #fffbec;
  margin-bottom: 2vh;
  flex-direction: column;
  justify-content: center;
}
.class-option.selected {
  background-color: orange;
  color: white;
}
.classes-name {
  white-space: nowrap;
  display: block;
  max-width: 13vh;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: var(--font-size);
  color: var(--text-color);
  text-align: center;
}
