.add-student-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
  position: relative;
  color: black;
  padding: 2vw;
}

.header-for-add-student {
  background-color: #fffbec;
  width: 100vw;
  margin-top: -4vh;
  padding-bottom: 3vh;
}
.title {
  padding: 0.001vw;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.save-button {
  padding: 10px 20px;
  background-color: #ffdc96;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: black;
}

.save-button:hover {
  background-color: #add8e6;
}
