.dashboard-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3vh 1vw;
  flex-wrap: nowrap;
}

.menu-button {
  flex: 0 0 auto;
  margin-right: 1vw;
}

.dropdown-container {
  display: flex;
  align-items: center;
  /* margin-right: 7vw; */
}

.dropdown {
  margin-left: 7vw;
  padding: 1.7vh 3.5vw;
  border: 0.1vw solid #ccc;
  border-radius: 1vw;
  background-color: #dde4f2;
  cursor: pointer;
}

.hamburger-icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 5vw;
  height: 4.5vh;
}

.hamburger-icon div {
  height: 0.4vw;
  background-color: #333;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 30vw;
  height: 100%;
  background-color: #FFFBEC;
  box-shadow: 0.2vw 0 0.5vw rgba(0, 0, 0, 0.5);
  padding: 1vh;
  display: flex;
  flex-direction: column;
  z-index: 2;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  align-items: center;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 1vh 0;
}

.close-sidebar {
  cursor: pointer;
  position: absolute;
  top: 1vh;
  right: 1vw;
  border: none;
  background: none;
  font-size: 1.5vh;
}
.sidebar-button {
  border: none;
  background: none;
  text-align: left;
  padding: 10px;
  width: 100%;
  display: block;
  cursor: pointer;
  outline: none;
  font-size: 2.2vh;
  flex-wrap: nowrap;
  color: black;
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #007bff;
  color: #fff;
  font-size: 24px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.floating-button:hover {
  background-color: #0056b3;
}
.sending-report:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

.sending-report {
  display: flex;
  align-items: center;
  white-space: nowrap;
  border: none;
  background-color: transparent;
  flex-wrap: nowrap;
  margin-right: 15vw;
  height: auto;
  width: auto;
  cursor: pointer;
  padding: 1.7vh 3.5vw;
  color: black;
}

/* .profile-container {
  line-height: 0;
  display: inline-block;
  margin: 1vw;
  border: 0.5vw solid rgba(200, 200, 200, 0.4);
  border-radius: 50%;
  box-shadow: 0px 0px 2vw rgba(0, 0, 0, 0.4);
  transition: linear 0.25s;
  height: 20vh;
  width: 20vh;
  background-color: white;
}

.profile-container img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.profile-container:hover {
  transition: ease-out 0.2s;
  border: 2vw solid rgba(0, 0, 0, 0.2);
  -webkit-transition: ease-out 0.2s;
} */
.horizontal-line {
  border: none;
  border-top: 0.1vh solid #999;
  margin: 2vh 0;
  width: 25vw;
}
