.teacher-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
  position: relative;
  color: black;
  padding: 2vw; /* Changed from pixels to viewport width */
}

.close-button {
  position: absolute;
  top: 2vw; /* Changed from pixels to viewport width */
  left: 2vw; /* Changed from pixels to viewport width */
  background: none;
  border: none;
  cursor: pointer;
  color: black;
  font-size: 5vh;
}

.profile-container-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  height: 51vh;
}

.profile-picture {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-details {
  text-align: center;
  margin-top: 1.2vh;
}

.profile-name-edit {
  display: flex;
  align-items: center;
}

.edit-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 1vw; /* Changed from pixels to viewport width */
}

.profile-name {
  font-size: 5vh;
}

.profile-email {
  font-size: 3vh;
}

.section-title {
  align-self: flex-start;
  margin-top: 2vh;
  margin-left: 2vw;
  font-size: 4vh;
}

.teacher-profile-section {
  background-color: lightblue;
  border-radius: 5vh;
  flex: 1;
  width: calc(100% - 4vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2vw;
  margin: 1vw;
}

.student-profile-section {
  background-color: lightblue;
  border-radius: 5vh;
  flex: 1;
  width: calc(100% - 4vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  padding: 2vw;
  margin: 1vw;
}

.profile-lines-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.profile-line {
  font-size: 4vh;
  white-space: nowrap;
  text-align: left;
}


.logout-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2vw;
}

.logout-button,
.delete-account-button {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  padding: 1vw 0;
  font-size: 3vh;
  white-space: nowrap;
}

.logout-button:hover,
.delete-account-button:hover {
  text-decoration: underline;
}

.logout-container {
  padding-right: 43vw;
  color: black;
}
