.users-page {
  background-color: white;
  height: 100vh;
}

.back-button-in-users {
  position: absolute;
  margin: 10px;
  margin-right: 0;
}
.all-users-display {
  display: grid;
  gap: min(10px, 1vh);
  justify-items: center;
  flex-direction: row;
  align-self: center;
  overflow-y: scroll;
  height: 50vh;
  margin: 10%;
  grid-template-columns: repeat(auto-fill,
          minmax(clamp(80px, 40vh, 40px), 1fr));
}

.app-bar-title {
  font-size: 3vh;
}

.vertical-line {
  border: 1px solid black;
  width: 100%;
  margin: '10px';
}

.vertical-line-container {
  padding: 0 20px;
  /* Adjust the left and right padding as needed */
}
.user-action-buttons {
  display: flex;
  justify-content: center;
}