.users-page {
  background-color: white;
  min-block-size: fit-content;
  height: -webkit-fill-available;
}

.back-button {
  position: absolute;
  left: 10px;
}

.all-users-display {
  display: grid;
  gap: min(10px, 1vh);
  justify-items: center;
  flex-direction: row;
  align-self: center;
  overflow-y: scroll;
  height: 50vh;
  margin: 10%;
  grid-template-columns: repeat(auto-fill,
      minmax(clamp(80px, 40vh, 40px), 1fr));
}

.app-bar-title {
  font-size: 3vh;
  color: black;
}

.vertical-line {
  border: 1px solid black;
  width: 100%;
  margin: '10px';
}

.vertical-line-container {
  padding: 0 20px;
  /* Adjust the left and right padding as needed */
}

.user-action-buttons {
  display: flex;
  justify-content: center;
}