.dropdown {
    height: 5vh;
    width: 5vh;
    position: relative;
    /* display: flex; */
    align-self: center;
    border-radius: 30px;
    background-color: cornsilk;
}
.menu-item {
    background-color: transparent;   
}