.color-box {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 6px 0 rgba(0,0,0,0.2);
}

.color-box.selected {
  outline: 4px solid #00b3b3;
  box-shadow: none;
}