<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".RespectHttpClient"
        android:allowBackup="false"
        android:icon="@mipmap/chimple_monkey_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/chimple_monkey_icon"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true">

        <meta-data android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/chimple_monkey_icon" />
        <meta-data android:name="com.getcapacitor.plugin.PortPlugin" android:value="true" />
        <meta-data android:name="com.getcapacitor.plugin.NativeSSOPlugin" android:value="true" />

        <!-- ✅ Main Activity: Handles Deep Linking -->
        <activity
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout|uiMode"
            tools:ignore="LockedOrientationActivity"
            android:name="org.chimple.bahama.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBarLaunch"
            android:launchMode="singleTask"
            android:exported="true">

            <!-- ✅ App Launcher Intent -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- intent for chimple-prod.firebaseapp.com  -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Ensure this matches your deep link -->
                <data
                    android:scheme="https"
                    android:host="chimple.org"
                    android:pathPrefix="/" />
            </intent-filter>

            <!-- ✅ Deep linking support for localhost:3000 (for local testing) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="localhost" android:port="3000" android:pathPrefix="/" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="chimple.cc" android:path="/join-class" />
                <data android:scheme="https" android:host="chimple.cc" android:path="/assignment" />
                <data android:scheme="https" android:host="chimple.cc" android:path="/live-quiz" />

            </intent-filter>


        </activity>

        <!-- ✅ File Provider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

<!--        <service-->
<!--            android:name="world.respect.librespect.clientdownloadservice"-->
<!--            android:enabled="true"-->
<!--            android:exported="true">-->

<!--            <intent-filter>-->
<!--                <action android:name="respect.world.librespect.ACTION_CLIENT_LU_DOWNLOAD" />-->
<!--                <action android:name="respect.world.librespect.ACTION_CLIENT_LU_RELEASE" />-->
<!--            </intent-filter>-->
<!--        </service>-->
    </application>

    <!-- ✅ Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <queries>
        <intent>
            <action android:name="oneroster" />
        </intent>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>
</manifest>