.schoolCoordinators-pageContainer {
  padding: 1.667vw; /* 24px */
  background-color: #fff;
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Helps empty state centering */
}

.schoolCoordinators-dataTableContainer {
  border: 1px solid #eaecf0; /* Keep 1px for thin borders */
  border-radius: 0.556vw; /* 8px */
  overflow: hidden;
  background-color: #fff;
  flex-grow: 1; /* Allow table to take available space */
  display: flex;
  flex-direction: column;
}

.schoolCoordinators-dataTableContainer table {
  width: 100%;
  border-collapse: collapse;
}
.schoolCoordinators-dataTableContainer th,
.schoolCoordinators-dataTableContainer td {
  padding: 0.833vw 1.667vw; /* 12px 24px */
  text-align: left;
  vertical-align: middle;
}
.schoolCoordinators-dataTableContainer th {
  background-color: #f9fafb;
  color: #667085;
  font-weight: 500;
  font-size: 0.833vw; /* 12px (or 0.75rem) */
  line-height: 1.25vw; /* 18px (or 1.125rem) */
  border-bottom: 1px solid #eaecf0;
}
.schoolCoordinators-dataTableContainer td {
  color: #344054;
  font-weight: 400;
  font-size: 0.972vw; /* 14px (or 0.875rem) */
  line-height: 1.389vw; /* 20px (or 1.25rem) */
  border-bottom: 1px solid #eaecf0;
}
.schoolCoordinators-dataTableContainer tbody tr:last-child td {
  border-bottom: none;
}
.schoolCoordinators-dataTableContainer
  .coordinator-name-data.MuiTypography-root {
  font-weight: 500 !important;
  color: #1d2939 !important;
}
.schoolCoordinators-dataTableContainer .truncate-text.MuiTypography-root {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 12.5vw; /* 180px, adjust as needed */
}
.schoolCoordinators-dataTableContainer th .sort-icon {
  margin-left: 0.278vw; /* 4px */
  font-size: 1.11vw; /* Approx 16px */
  vertical-align: middle;
}

.schoolCoordinators-school-list-pagination {
  padding: 0.833vw 1.667vw;
  border-top: 1px solid #eaecf0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto; 
}

.schoolCoordinators-emptyStateContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3.333vh 1.11vw; 
  min-height: 33.333vh;
  width: 100%;
  box-sizing: border-box;
  flex-grow: 1; 
}

.schoolCoordinators-emptyStateTitle.MuiTypography-root {
  font-weight: 600 !important;
  color: #1d2939 !important;
  margin-bottom: 0.556vw !important; 
  font-size: 1.389vw;
}

.schoolCoordinators-emptyStateMessage.MuiTypography-root {
  color: #475467 !important;
  font-size: 0.972vw !important; 
  max-width: 20.833vw; 
  line-height: 1.5;
}
