#student-progress-header-icons {
  display: flex;

  align-items: center;

  justify-content: flex-start;

  padding-left: 10px;
  background-color: #ff7925;
}

#student-progress-header-middle-icons {
  display: flex;
  justify-content: space-between;
  width: 80vw;

  margin: 0 auto;
  padding: 4px;
}

#student-progress-header-middle-icons div {
  padding-right: 1%;
}
#student-progress-tab-bar {
  margin-right: 4vh;
  font-size: var(--text-size);
  font-weight: bold;
  width: 15vw;
  font-family: 'BalooRegular';
  background-color: red;
}
