#common-button {
  justify-content: space-between;
  right: 0;
  font-size: var(--text-size);
  height: 5vh;
  width: clamp(95px, 10vh, 110px);
  display: flex;
  align-items: center;
}
#common-button:disabled {
  opacity: 0.5;
}

.buttoncontainerr {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.common-button {
  --background: #e6ca91;
  --color: black;
  --border-radius: 8px;
  text-transform: capitalize;
}
