.school-user-list {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.school-user-name-div {
  display: flex;
  align-items: center;
}
.school-user-avatar-img {
  border-radius: 50%;
  height: clamp(50px,8vh,60px);
  width: clamp(50px,8vh,60px);
}
.school-user-item {
  margin-right: 10px;
}
.school-user-profile-name {
  padding: 5px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  color: var(--text-color);
}
