.add-studentsection__container {
  padding: 2vw;
  margin: 0 auto; 
  border-radius: 15px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  width: 300px;
}
.add-studentsection__group {
    display: flex;
    flex-direction: column;
}
.add-studentsection__groupInput {
    border: none;
    text-align: center;
    color: #707070;
    font-size: 20px;
    font-weight: 400;
    background: #FFF;
}
.add-studentsection__group label {
    color: #707070;
}
.addstudentsection__form {
    display: flex;
    flex-direction: column;
}
.add-studentsection__groupInput:focus {
  outline: none;
}

.add-student-radio-btn::part(container) {
  width: 18px;
  height: 18px;
  border: 1px solid #333;
  border-radius: 50%;
  background-color: transparent !important;
  position: relative;
  cursor: pointer;
  padding: 0;
  box-shadow: none;
  transition: none;
}

.add-student-radio-btn[aria-checked="true"]::part(container) {
  background-color: transparent !important;
  border: 1px solid #333 !important;
  box-shadow: none !important;
}

.add-student-radio-btn::part(mark) {
  display: none;
}

.add-student-radio-btn[aria-checked="true"]::part(mark) {
  display: block;
  width: 8px;
  height: 8px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
