.add-studentsection__container {
  padding: 2vw;
  margin: 0 auto; 
  border-radius: 15px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  width: 300px;
}
.add-studentsection__group {
    display: flex;
    flex-direction: column;
}
.add-studentsection__groupInput {
    border: none;
    text-align: center;
    color: #707070;
    font-size: 20px;
    font-weight: 400;
    background: #FFF;
}
.add-studentsection__group label {
    color: #707070;
}
.addstudentsection__form {
    display: flex;
    flex-direction: column;
}