.add-student__form {
    padding: 2vw;
    margin: 0px 15px;
    border-radius: 15px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}
.add-student__group {
    display: flex;
    flex-direction: column;
}
.add-student__groupInput {
    border: none;
    text-align: center;
}
.add-student__group label {
    color: #707070;
}