.display-subject-curriculum-container {
  margin-top: 1.9vw;
  overflow-y: auto;
  padding: 1vh;
  flex-grow: 1;
  padding-bottom: 70px;
}

.display-subject-curriculum-section {
  margin-bottom: 3vh;
}

.display-subject-curriculum-header {
  background-color: #e6d8ff;
  color: #4b0082;
  font-weight: bold;
  padding: 1.2vh;
  border-radius: 1vh;
  box-shadow: 0 0.3vh 0.6vh rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5vh;
}

.subject-item-in-display-subject-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 1.5vh;
  margin-bottom: 1vh;
  border-radius: 1vh;
  box-shadow: 0 0.15vh 0.6vh rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s;
  color: black;
}

.subject-item-in-display-subject-page:hover {
  background-color: #f0f0f0;
}

.subject-icon-in-display-subject-page {
  width: clamp(30px, 4vw, 50px);
  height: 20%;
  margin-right: 1.5vh;
}

.subject-item-in-display-subject-page {
  flex-grow: 1;
  font-size: 1rem;
  color: var(--text-color);
  padding: 0 3vw;
}

.subject-item-in-display-subject-page .MuiSvgIcon-root {
  color: #019541;
  margin-left: 1vh;
  border-radius: 50%;
}

.no-subjects-message {
  text-align: center;
  margin-top: 3vh;
  font-size: 1rem;
  color: #888;
}

.display-subject-header {
  text-align: left;
  margin-bottom: 3vh;
}

.main-title-in-display-subject-page {
  color: black;
  font-size: 1.2rem;
  margin: 0;
}

.sub-title-in-display-subject-page {
  color: black;
  font-size: 1rem;
  margin: 0;
  opacity: 0.7;
}

.custom-alert {
  --background: white;
}

.custom-alert .alert-remove-button {
  background: #f72121 !important;
  opacity: 0.5;
  color: white;
  border-radius: 1vh;
  padding: 2vh 3vw;
  text-transform: none;
  font-size: var(--text-size);
}

.custom-alert .alert-cancel-button {
  text-transform: none;
  background-color: #83c327;
  font-size: var(--text-size);
  opacity: 0.5;
  color: white;
  border-radius: 1vh;
  padding: 2vh 3vw;
}

.alert-button-group.sc-ion-alert-md {
  display: flex;
  justify-content: space-between;
  /* Space out the buttons equally */
  width: 100%;
}

.custom-alert .alert-button {
  flex: 1;
  margin: 0 1vh;
  /* Make sure both buttons take equal width and add some space between them */
}

.alert-wrapper.sc-ion-alert-md {
  padding: 1vh;
  border-radius: 3vh;
}

.alert-message.sc-ion-alert-md {
  color: var(--text-color);
  text-align: center;
}

.alert-button-inner.sc-ion-alert-md {
  justify-content: center !important;
}
.selected-subject {
  color: black;
}
.subject-name-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3vw;
}
