/* ImageDropdown.css */
.imageDropdown-container {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #9473CB;
  /* width: clamp(170px, 200px, 300px); */
  height: min(5vh, 40px);
  min-height: 35px;
}

.image-drop-content {
  display: flex;
  align-items: center;
}

.imageDropdown-select {
  width: 100%;
  border: 0;
  box-shadow: none;
  border-radius: 8px solid transparent;
  padding: 0.8vh 1vw;
  color: #333;
  font-size: 2vh;
  height: 5vh;
}

.menu-item-in-image-dropdown{
  display: flex;
  align-items: center;
  padding: 0.5vh 1vw;
  font-size: 1.8vh;
  color: #333;
}

.imageDropdown-icon {
  width: auto;
  max-width: 5vh;
  height: min(4vh, 30px);
  min-height: 25px;
  margin-right: 10px;
  border-radius: 50%;
}

.icon-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
  color: #707070;
}
.selectedImageDropdown-value {
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.selectedImageDropdown-value span {
  color: #707070;
  font-size: 2.5vh;
}
.dropdown-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.2;
}

.subject-text {
  font-size: 2vh;
  font-weight: 500;
  color: #707070;
}

.imageDropdown-container .grade-text {
  font-size: 1.6vh;
  font-weight: 400;
  color: #707070;
}
.image-subject-dropdown-icon {
  width: 16px;
  height: 16px;
}