.imageDropdown-container {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #9473CB;
  width: clamp(160px, 30vw, 200px);
  height: min(5vh, 40px);
  min-height: 35px;
}

.imageDropdown-select {
  width: 100%;
  border: 0;
  box-shadow: none;
  border-radius: 8px solid transparent;
  padding: 0.8vh 1vw;
  color: #333;
  font-size: 2.7vh;
  height: 5vh;
}

.menu-item-in-image-dropdown{
  display: flex;
  align-items: center;
  padding: 0.5vh 1vw;
  font-size: 1.8vh;
  color: #333;
}

.imageDropdown-icon {
  width: auto;
  max-width: 5vh;
  height: min(4vh, 30px);
  min-height: 25px;
  /* margin-right: 1rem; */
  border-radius: 50%;
}

.icon-container {
  display: flex;
  align-items: center;
  /* margin-left: 10px; */
  color: #707070;
}
.imageDropdown-container
  .css-1m5xwth-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: none;
  border-width: 0;
}
.imageDropdown-selected {
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: -15px;
  color:#333;
  font-weight: 400;
}
.imageDropdown-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.2;
}

.imageDropdown-subject-text {
  font-size: 2vh;
  font-weight: 500;
  color: #333;
}

.imageDropdown-container .grade-text {
  font-size: 1.6vh;
  font-weight: 400;
  color: #666;
}