.no-schools-found-container {
  /* margin-top: 3rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 1rem;
}

.no-schools-found-image {
  width: 8rem;
  height: auto;
}

.no-schools-found-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #3880ff;
  margin: 0;
}

.no-schools-found-subtitle {
  font-size: 0.9rem;
  color: #666;
  max-width: 280px;
  white-space: nowrap;
}

.no-schools-found-divider {
  width: 100%;
  border: 0;
  border-top: 1px solid #e0e0e0;
  margin: 1rem 0;
}
