.avatar-option-box-background {
  width: 50vw;
  height: 75vh;
  border-radius: 6vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 10px 10px 5px #dbdbdb;
  position: relative;
}

.rive-container {
  position: relative;
}

.rive-component {
  width: 35vw;
  height: 70vh;
  position: relative;
  z-index: 1;
}

.avatar-shadow {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  top: 80%;
  transform: translateX(-50%) rotateX(60deg);
  width: 20vw;
  height: 15vh;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 0;
}

@keyframes burst {
  from {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
}

@keyframes scale {
  from {
    transform: scale(0);
  }
}

.burst {
  animation: burst 0.9s ease-in alternate-reverse;
}

.left-corner:before {
  content: "";
  width: 1vw;
  height: 1vh;
  position: absolute;
  border-left: 1vw solid white;
  border-right: 1vw solid white;
  border-top: 1vh solid white;
  border-bottom: 3vh solid white;
  /* left: 0vw; */
  top: 6.5vh;
  clip-path: polygon(0 100%, 100% 0, 100% 75%);
  right: 50vw;
}

.buttons-in-avatar-option-box {
  margin: 2% 0 2% 0;
  /* width: 38vw; */
  display: flex;
  align-items: center;

  /* padding-bottom: 3vh;
    padding-top: 2vh;
    padding-left: 2vw;
    padding-right: 3vw;
    margin-top: 3vh; */
}
