.avatar-option-box-background {
  width: 50vw;
  height: 65vh;
  border-radius: 6vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 10px 10px 5px #dbdbdb;
}

.buttons-in-avatar-option-box {
  margin: 4% 0 0% 0;
  /* width: 38vw; */
  display: flex;
  align-items: center;
  /* padding-bottom: 3vh;
    padding-top: 2vh;
    padding-left: 2vw;
    padding-right: 3vw;
    margin-top: 3vh; */
}
