.rectangular-text-button {
  /* background-color: #eaeaea !important; */
  color: black;
  border-radius: var(--border-radius) !important;
  text-align: center;
  /* margin: 1vh 6vw 1vh 6vw; */
  /* margin: 0vh 3vw 1vh 7vw; */
}

#rectangular-text-button :hover {
  background-color: #83c327;
}

#rectangular-text-button :focus {
  background-color: #eaeaea;
}

#rectangular-text-button :active {
  background-color: #eaeaea;
}

.green-button {
  color: black;
  border-radius: var(--border-radius) !important;
  text-align: center;
  /* transition: background-color 0.3s; */
  /* cursor: pointer; */
}
.red-button {
  color: black;
  border-radius: var(--border-radius) !important;
  text-align: center;
  /* transition: background-color 0.3s; */
  /* cursor: pointer; */
}

/* .green-button:active {
  background-color: #eaeaea !important;
} */

.green-button:hover {
  background-color: #83c327 !important;
}

.red-button:hover {
  background-color: red !important;
}
/* .red-button:active {
  background-color: #eaeaea !important;
} */
