.classcode-container {
  display: flex;
  justify-content: center;
}
.manage-classes {
  padding-left: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.manage-class-button {
  border: 1px solid #7C5DB0;
  border-radius: 5px;
  width: fit-content;
}

.class-divider {
  background-color:#9473CB;
  height: 0.5px;
  width: clamp(217px, 31vw, 217px);
}
.class-iconlabel {
  padding-left: 10px;
  font-size: 22px;
  color: #707070;
  font-weight: 600;
}

.classsection-class {
  display: flex;
  align-items: center;
  padding-top: 8px;
  padding-left: 9px;
}