.side-menu-header ion-toolbar {
  --background: #7c5db0 !important;
  --color: white;
}
.side-menu-header {
  background-color: #7c5db0;
  display: flex;
  padding: 0px 6px;
  align-items: center;
}
.profile-details {
  margin-left: 1.5vw;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: justify;
}
.profile-name {
  font-size: 26px;
  font-weight: 600;
  /* text-align: justify; */
}
.profile-email {
  font-size: 14px;
  font-weight: 400;
}