.school-dropdown {
  display: grid;
  justify-content: center;
}
.school-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.manage-school {
  padding-left: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.manage-school-button {
  border: 1px solid #7C5DB0;
  border-radius: 5px;
  width: fit-content;
  height: 34px;
}
.school-divider {
  background-color:#9473CB;
  height: 0.5px;
  width: clamp(217px, 31vw, 217px);
}
.school-iconlabel {
  padding-left: 10px;
  font-size: 22px;
  color: #707070;
  font-weight: 600;
}

.schoolsection-school {
  display: flex;
  align-items: center;
  padding-top: 8px;
  padding-left: 9px;
}