.weekly-summary-container {
  border: 1px solid #ddd;
  border-radius: 12px;
  width: 90%; 
  background-color: #ffffff;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.05);
  font-family: 'Arial', sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100px;
  height: auto; 
  padding: 6px;
}

.weekly-summary-header {
  font-size: 2vh; 
  font-weight: bold;
  margin: 0 0 5px 0;
  padding-left: 10px;
  padding-top: 2px;
  color: #7B7676;
}

.weekly-summary {
  display: flex;
  justify-content: space-around;
  height: auto; /* Let it expand based on content */
  flex-wrap: wrap;
  margin-top: -4px;
}

.summary-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summary-item .CircularProgressbar {
  margin-bottom: 5px;
  width: 6vh;
  height: 6vh;
  min-height: 40px;
  min-width: 40px;
}

.summary-item .CircularProgressbar .CircularProgressbar-text {
  font-size: 32px;
  /* alignment-baseline: ideographic; */
}

.time-spent-icon{
  margin-bottom: 5px;
  width: 6vh;
  height: 6vh;
  min-height: 40px;
  min-width: 40px;
}

.summary-label {
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  color: #707070;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
}