/* src/Assignments.css */

.library-container {
  height: 100%;
  /* padding:20px; */
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: white;
}
.search-icon {
  display: flex;
  align-items: center;
  color: black;
}
.text {
  color: #707070;
  padding-left: 20px;
  font-size: 20px;
}
.lesson-search {
  display: flex;
  align-items: center;
  padding: 30px;
  margin: 20px;
  height: 50px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 15px; /* Optional: to round the corners */
}
.separator {
  width: 100%;
  height: 1px;
  background-color: #ccc; /* Adjust the color as needed */
  margin: 8px 0; /* Adjust the spacing as needed */
}
.search-bar {
  margin-bottom: 20px;
}

.search-input {
  color: white;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.course-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(clamp(120px, 40vh, 40px), 1fr)
  );
  /* gap: 20px; */
  max-height: 85%;
  overflow-y: auto;
}

.assignment-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  text-align: center;
}

.assignment-icon {
  font-size: 40px;
  margin-bottom: 10px;
}

.assignment-text {
  font-size: 14px;
}
