.dropdown-outer {
    height: 5vh;
    width: 20vh;
    position: relative;
    align-self: center;
    border-radius: 30px;
    background-color: cornsilk;
}
.dropdown-item {
    background-color: transparent;   
}