.recommended-card {
  float: left;
  display: flex;
  flex-direction: column;
}

.recommended-subject-header {
  display: flex;
  margin-left: 2vw;
  color: blue;
}

ion-card-subtitle {
  --color: #a71b3b;
}

ion-card {
  --background: #fff8e9;
  --color: #474747;
}

.recommended-subject-name {
  color: var(--text-color);
  font-size: var(--header-text);
  align-self: center;
  justify-content: center;
  font-size: clamp(18px, 3.1vh, 25px);
  font-weight: bold;
  /* margin-left: 13vw; */
}

.recommended-assignment-card {
  height: 25vh;
  width: 70vh;
  float: left;
  border-radius: 2;
}

.recommended-content {
  overflow-y: scroll;
  height: 70vh;
}

.recommended-text {
  font-size: 18px;
  display: flex;
  margin-left: 2vw;
}

.display-card {
  display: flex;
  flex-direction: column;
}

.select-all {
  margin-left: auto;
  padding-right: 5vw;
}

ion-checkbox {
  --size: 20px;
  --checkbox-background: "white";
}

ion-checkbox::part(container) {
  border: 2px solid #cfced1;
}
