.activities-header {
  width: calc(100%);
  margin: 0 20px;
  height: 80px;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.activities-secondary-header {
  width: calc(100%);
  padding-left: 30px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.activities-secondary-header > * {
  flex: 1 1 0;
  min-width: 0;
  overflow: hidden;
}
.activities-container {
  display: flex;
  flex-direction: column;
  height: 100vh; 
  background: white;
}

.activities-table-container {
  flex-grow: 1;
  overflow-y: auto;
  padding: 0 32px;
  background-color: transparent;
}