.school-list-ion-page {
  background: white;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.school-list-main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  background: white;
}

.school-list-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 96vw;
  min-width: 300px;
  max-width: 1500px;
  flex-shrink: 0;
}

.school-list-container {
  width: 92vw;
  min-width: 500px;
  max-width: 1500px;
  display: flex;
  flex-direction: row;
  background-color: white;
  gap: 10px;
  height: 5vh;
  min-height: 30px;
  max-height: 90px;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}

.school-heading {
  color: #21272a;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 15px;
}

.school-list-tab {
  text-transform: none !important;
  font-weight: bold !important;
  color: #121619 !important;
}

.school-list-tab.MuiTab-root.Mui-selected {
  color: #0f62fe !important;
}

.school-list-tabs-div {
  width: 33vw;
  min-width: 200px;
  max-width: 400px;
  margin-bottom: 8px; 
}

.school-list-tab-wrapper {
  font-weight: bold;
}

.selected-filters-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  padding-top: 10px;
}

.school-list-upload-text {
  font-weight: bolder;
  color: #121619;
  padding-left: 5vh;
  padding-top: 3vh;
  font-size: large;
}

.school-list-file-upload-conatainer {
  color: #121619;
  width: 23vh;
  border: 2px;
  box-shadow: 3px 3px 5px 0px #c9d5d9;
  border-radius: 23px;
}

.school-list-table-container {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 10px 0;
}

.school-list-pagination {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
  background: white;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.05); /* Optional visual separation */
  z-index: 10;
}
