.school-detail-container {
  background: white;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}


.school-detail-gap {
  height: 10px;
  width: 100%;
}

.school-detail-header {
  width: calc(100% - 32px);
  margin: 0 auto;
  height: 65px;
  background: white;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.add-note-button {
  padding: 8px 16px;
  border-radius: 6px;
  border: 1px solid #4F46E5;
  background: white;
  color: #4F46E5;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  margin-right: 24px;
  width: auto;
  max-width: max-content;
}

.add-note-button:hover {
  background: #f6f6ff;
}

.school-detail-secondary-header {
  width: calc(100% - 32px);
  margin: 0 auto;
  padding-left: 11px;
  background: white;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 8px;
  display: flex;
  align-items: center;
}

.school-detail-secondary-header > * {
  flex: 1 1 0;
  min-width: 0;
  overflow: hidden;
}

.school-detail-tertiary-gap {
  height: 15px;
  width: 100%;
}

.school-detail-tertiary-header {
  width: calc(100% - 32px);
  margin: 0 auto;
  background: white;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 0;
  min-width: 0;
  margin-top: 10px;
  margin-bottom: 15px;
}
