.sidebarpage-rightSide {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
.sidebarpage-render {
  flex: 1;
  /* padding: 1rem;  */
  background-color: #f5f5f5;
  min-width: 0;
  overflow-x: hidden;
}
