.live-quiz-question-box {
  width: 80vw;
  height: 33vh;
  background-color: #eae8e8;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  border-radius: 4vh;
  font-size: var(--font-size);
  padding: max(6px, 2%) 1%;
  position: relative;
  flex-direction: column;
  overflow: auto; /* allows scrolling if content overflows */
  word-wrap: break-word; /* ensures long text wraps */
}

.PiSpeakerHighBold {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  animation: pulse 2s infinite;
  fill: grey;
}

.live-quiz-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 1%;
  position: sticky;
  bottom: 0;
}

.live-quiz-option-text {
  font-size: clamp(12px, 4vh, 35px);
}
.live-quiz-option-box {
  background-color: #faf5f8;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16vw;
  height: 23vh;
  border-radius: 2vh;
  color: var(--text-color);
  font-size: var(--font-size);
  box-shadow: 2px 10px lightgray;
  margin: 1%;
  padding: 1px max(30px, 1%);
  position: relative;
  flex-direction: column;
  overflow: auto;
  word-wrap: break-word;
}
#question-text {
  font-weight: bold;
  font-size: clamp(16px, 6vh, 48px);
}
.live-quiz-question {
  display: flex;
  justify-content: center;
}

.live-quiz-option-box-correct {
  background-color: #00ff00;
}

.live-quiz-option-box-incorrect {
  background-color: #ff0000;
}

.live-quiz-audio-button-question {
  left: 0px;
  padding: 4px;
  color: grey;
  background-color: white;
  border-radius: 50%;
  z-index: 1;
  height: 6vh;
  width: 6vh;
  position: absolute;
  top: 4px;
  left: 2px;
  box-shadow: 1px 1px grey;
}

.live-quiz-audio-button-question svg {
  width: 4vh;
  height: 4vh;
}

.live-quiz-audio-button-option {
  left: 0px;
  padding: 4px;
  color: grey;
  background-color: #ffffff;
  border-radius: 50%;
  z-index: 1;
  height: 5vh;
  width: 5vh;
  text-align: center;
  position: absolute;
  top: 1px;
  box-shadow: 1px 1px grey;
}
.live-quiz-audio-button-option svg {
  width: 3vh;
  height: 3vh;
}
.live-quiz-question-image {
  max-height: 20vh; /* limit height to keep space for text */
  width: auto;
  object-fit: contain;
  padding-top: 1px;
}
.audio-playing {
  transition: transform 0.5s ease-in-out;
}

.audio-playing:hover {
  transform: scale(1.4);
}
.live-quiz-option-image {
  max-height: 20vh; /* reduce to fit inside 22vh option box */
  width: auto;
  object-fit: contain;
}

.selected-option {
  box-shadow: none;
  background-color: #cccccc;
  color: white;
}

.selected--option-audio-button {
  background-color: #cccccc;
}
