.live-quiz-student-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    font-size: var(--text-size);
    color: #05342f;
}

.live-quiz-student-Name {
    white-space: nowrap;
    display: block;
    max-width: 11vw;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--text-color);
    font-size: var(--font-size);
}

.live-quiz-student-image {
    border-radius: 50%;
    height: 20vh;
}

.live-quiz-student-score {
    color: var(--font-color);
}