.add-courses-content {
  align-self: center;
  overflow-y: scroll;
  height: 100%;
}

#add-courses-back-button-container {
  width: 18.5%;
}
#add-courses-next-button {
  position: absolute;
  right: 2vw;
}
#add-courses-subjects-page {
  height: 100%;
}
.add-course-subjects-header {
  display: flex;
  margin: var(--margin);
  margin-bottom: 0;
  justify-content: space-between;
  align-items: center;
}
