#app-lang {
    /* background-color: ; */
    text-align: center;
    margin: var(--margin);
    margin-bottom: 0;
    
}

#app-lang-chimple-logo {
    /* margin-top: 1%; */
    text-align: center;
    width: auto;
    height: 25vh;
}

#app-lang-element {
   
    /* text-align:initial;
    margin-left: 38vw;
    gap: 5vw; */
    display: flex;
    /* width: 22vw; */
    flex-direction: column;
    align-items: center;
}

#app-lang-text {
    /* color: white; */
    font-size: var(--text-size);
    padding-top: 4vh;
    color: var(--text-color);
    margin-bottom: 2vh;
    margin-left: -10vw;
}

.app-lang-next-button {
    justify-content: space-between;
    margin-top: -145px;
    padding-left: min(0px,2vw);
    position: fixed;
    right: 0;
    color: #05342f;
    font-size: var(--text-size);
    /* height: 7vh; */
    height: clamp(45px,15vh,45px);
    width: clamp(125px,11vw,125px);
    display: flex;
    align-items: center;
    background: white;
    border-radius: 64px;
}

.app-lang-arrow-icon {
    padding-left: 4vh;
    /* padding-bottom: 1.3vh; */
}

