.assignment-main {
  /* margin: 1vh; */
  flex-direction: column;
  display: flex;
  /* justify-content: center; */
  height: 100%;
  background: var(--ion-background-color);
}

.lesson-body {
  align-items: center;
  display: flex;
  height: 0;
  /* margin-top:-6vh; */
  /* align-items: center; */
  justify-content: center;
  color: var(--text-color);
 

}

.classname-header{
  font-size: 20px;
  font-weight: bold;
}

.assignment-body {
  margin-top: 10vh;
}

.assignment-header {
  display: flex;
  
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  
  /* margin-left: 1vh; */
   /* align-items: center; */
  margin: var(--margin);
  margin-top: 2%;
  margin-bottom: 0;
}

.right-button {
  width: 8vh;
}
.pending-assignment{
  display: flex;
 
  position: relative;
  
  /* height: 100vh; */
  top: 40vh;
 
}
.school-class-header{
  display: flex;
  gap: 1vw;
}

