.display-student-content {
  margin-top: 3vh;
}

#display-students-chimple-logo {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  cursor: pointer;
  font-size: var(--text-size);
  color: #05342f;
  margin: var(--margin);
  margin-bottom: 0;
}
#parent-icon {
  height: clamp(15px, 10vh, 18px);
  width: clamp(15px, 10vh, 18px);
}

#display-students-parent-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(95px, 10vw, 110px);
}
#display-students-parent-button {
  width: clamp(95px, 10vh, 110px);
  height: clamp(40px, 8vh, 45px);
  border-radius: 64px;
  background: #ffffffd9;
  display: flex;
  padding-left: min(10px, 2vw);
  padding-right: min(10px, 2vw);
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: var(--text-size);
  color: #05342f;
  justify-content: space-between;
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  font-size: var(--text-size);
  color: #05342f;
}

.student-name {
  white-space: nowrap;
  display: block;
  max-width: 20vh;
  text-overflow: ellipsis;
  overflow: hidden;
}

.avatar-container {
  margin: 0.4vh;
  gap: 10vh;
  align-items: center;
  justify-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.add-new-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  font-size: var(--text-size);
  margin-top: 13vh;
  width: max-content;
  /* color: #05342f; */
  color: var(--text-color);
  bottom: 0;
  inline-size: -webkit-fill-available;
  position: absolute;
}

.ion-page {
  justify-content: start;
}
