.chapters-header {
    display: flex;
    /* margin-top: 1vh; */
    margin: var(--margin);
    margin-bottom: 0;
    justify-content: space-between;
    align-items: center;
  }
  
  .chapter-name {
    color: var(--text-color);
    font-size: var(--header-text);
    align-self: center;
    justify-content: center;
    font-size: clamp(18px, 3.1vh, 25px);
    font-weight: bold;
    /* margin-left: 13vw; */
  }
  
  .button-right {
    width: 18.5%;
    height: 10vh;
  }
  .chapters-content {
    align-self: center;
    overflow-y: scroll;
  }
  
  .subjects-content::-webkit-scrollbar {
    display: none;
  }
  
  .slider-container {
    display: flex;
    align-items: center;
    height: 100vh;
  }
  #back-button-container {
    width: 18.5%;
  }
  