.content {
  margin-top: 9vh;
}

.next-button {
  position: fixed;
  top: 3vh;
  right: 4vh;
  color: var(--text-color);
  font-size: var(--text-size);
  height: 7vh;
}

.button-round {
  --padding-start: 4vh;
  --padding-end: 1vh;
  --padding-top: 0.6vh;
}

.arrow-icon {
  padding-left: 4vh;
  padding-bottom: 1.3vh;
}

.button-solid {
  --box-shadow: 0;
}
