#home-header {
  position: initial !important;
}

div p {
  margin: 0px;
}

.slider-content {
  height: 100%;
  margin: 0 1%;
}

.space-between {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#home-leaderboard-button {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: var(--text-size);
  color: var(--text-color);
  margin-right: 2vw;
}

#home-page-sub-tab {
  text-transform: none;
  font-family: BalooRegular;
  font-size: var(--text-size);
}

.MuiTabs-flexContainer {
  justify-content: space-between;
}

.Mui-selected {
  color: white;
}

.MuiTabs-root {
  min-height: fit-content !important;
}

.home-page-app-bar {
  border-radius: 10vh;
  background-color: #CCCCCC !important;
  box-shadow: none !important;
  width: fit-content !important;
  margin: auto !important;
  position: static !important;
}

#home-page-bottom {
  position: fixed;
  width: 100%;
  bottom: 2vh;
}