#home-header {
  position: initial !important;
  /* margin: clamp(10px,10vh,20px); */
}

div p {
  margin: 0px;
}

.slider-content {
  height: 100%;
  margin: 0 1%;
}

.space-between {
  height: 100%;
  width: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#home-leaderboard-button {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: var(--text-size);
  color: var(--text-color);
  margin-left: 1vw;
}
