#app-update {
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-wrapper {
  --background: transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.loading {
  width: 100px;
  height: 100px;
}
