.join-school-page {
  background: #fff;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.join-school-header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
}
.join-school-container {
  height: 100vh;
  overflow-y: auto;
  display: flex;
  background-color: #fff;
    align-items: center;
  flex-direction: column;
}


.join-school-box {
  width: 354px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vh 0;
}

.join-school-icon {
  margin: 10px 0;
}

.join-school-card {
  width: 100%;
  max-width: 380px;
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 16px 16px 0 16px;
  margin-bottom: 20px;
  /* max-height: 40vh; */
}

.join-school-row {
  display: flex;
  margin-bottom: clamp(1vh, 2.5vh, 3vh); 
  font-size: 16px;
  border-bottom: 1px solid #EFF2F4;
}
.join-school-label {
  width: 140px;
  font-weight: 400;
  color: #676767;
}

.join-school-value {
  color: #4a4949;
  font-weight: 600;
}

.join-school-role-container {
  display: flex;
  gap: 20px;
}

.join-school-role-card {
  width: 120px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.join-school-role-card img {
  width: 120px;
  height: 100px;
  height: auto;
  border-radius: 18px;
  border: 4px solid transparent;
}

.join-school-role-card.selected-teacher img {
  border-color: #8CC540;
}

.join-school-role-card.selected-principal img {
  border-color: #FB5523;
}
.join-school-send-btn {
  /* margin-top: 1vh; */
  border: none;
  border-radius: 0.5vh;
  background-color: #7c5db0;
  color: white;
  font-size: 3vh;
  font-weight: bold;
  cursor: pointer;
  height: 50px;
  width: 210px;
}

.join-school-send-btn:disabled {
  background: #aaa;
  cursor: not-allowed;
}

.join-school-send-btn:hover:enabled {
  background: #5a3eb4;
}

.join-school-page-title {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  color: #707070;
  align-self: flex-start;
}

.join-school-class-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  min-height: 50px; 
  transition: all 0.3s ease;
  margin: 2vh 0;
}

.join-school-class-container.hidden {
  visibility: hidden; 
}

.join-school-class-btn {
  width: 50px;
  height: 35px;
  border: 1px solid #ccc;
  background: #fff;
  padding: 6px 14px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  color: #4A4949;
  cursor: pointer;
  transition: all 0.2s;
}

.join-school-class-btn:hover {
  background: #7C5DB0;
  color: #fff;
}

.join-school-selected-class {
  background: #6c4cd2;
  color: #fff;
  border: 1px solid #6c4cd2;
  
}
