#leaderboard-page {
  /* padding: 1%; */
  align-items: center;
  /* margin: var(--margin); */
  /* margin-bottom: 0; */
}
#LeaderBoard-header{
  margin: var(--margin);
  margin-bottom: 0;
  /* padding: 1vh 1vw; */
}
#LeaderBoard-AppBar{
  /* padding: 1vh 1vw; */
  padding: 0%;
 
}

#leaderboard-UI {
  display: flex;
  margin: 1% 0% 0% 5%;
  justify-content: space-around;
  align-items: center;
  font-size: var(--text-size);
  color: black;
  height: 85vh;
  padding-bottom: 5vh;
}

/* #leaderboard-left-UI {
  width: 40vw;
} */

#leaderboard-left-UI-content {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bolder;
}

#leaderboard-right-UI {
  width: 60vw;
  height: 78vh;
  outline-style: solid;
  outline-width: 0.1px;
  border-radius: 4vh;
  overflow-y: scroll;
  text-align: center;
}

#leaderboard-right-UI-content {
  /* width: 10vw; */
  /* text-align: left; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bolder;
}

#leaderboard-avatar {
  padding: 5% 0%;
}
