#leaderboard-page {
  /* padding: 1%; */
  align-items: center;
  /* margin: var(--margin); */
  /* margin-bottom: 0; */
}

#LeaderBoard-AppBar {
  /* padding: 1vh 1vw; */
  padding: 0%;
}

#LeaderBoard-Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: var(--margin);
  margin-bottom: 0;
}

#leaderboard-UI {
  display: flex;
  align-items: center;
  font-size: var(--text-size);
  color: black;
  height: 85vh;
  padding-bottom: 5vh;
  flex-wrap: wrap;
  flex-direction: column;
}

/* #leaderboard-left-UI {
  width: 40vw;
} */

#leaderboard-left-UI-content {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bolder;
  font-size: 1.5vw;
}

#leaderboard-right-UI {
  width: 65vw;
  height: 75vh;
  outline-style: solid;
  outline-width: 0.1px;
  border-radius: 4vh;
  overflow-y: scroll;
  text-align: center;
}

#leaderboard-right-UI::-webkit-scrollbar {
  display: none;
}

#leaderboard-right-UI-content {
  /* width: 10vw; */
  /* text-align: left; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
}

#leaderboard-avatar {
  padding: 5% 0%;
}

#leaderboard-student-name {
  max-width: 20vh;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}


#leaderboard-profile-name {
  max-width: 22vh;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}