p {
  font-family: unset;
}

#login-screen {
  /* --ion-background-color: #F2D9CA !important; */
  text-align: center;
}

#login-chimple-logo {
  /* height: min(200px, 60vh);
    margin-left: calc(33vw);
    margin-top: 2%; */
  text-align: center;
  width: 11vw;
  height: 15vh;
  margin-top: 2%;
  /* height: 28%;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translateY(-50%) translateX(-50%); */
}

#chimple-brand-text1 {
  /* position: absolute; */
  /* top: 30%;
    left: 50%; */
  /* height: 20%; */
  /* width: 40%; */
  /*font-weight: bolder; */
  text-align: center;
  transform: translateY(-25%);
  font-size: 3.7vw;
  color: var(--text-color);
  /* font-weight: 500; */
  /*margin-top: 0px; */
}

#chimple-brand-text2 {
  /* position: absolute; */
  /* top: min(38%, 44%); */
  height: auto;
  /* height: min(200px, 60vh); */
  /* width: min(90%, 100%); */
  /*font-weight: 500; */
  /* left: min(5%, 10%); */
  transform: translateY(-1.5vw);
  text-align: center;
  line-height: 1;
  font-size: 1.5vw;
  color: var(--text-color);
}

#login-text-box {
  /* transform: translateX(50%); */
  margin: 1% 0% 2% 32.7vw;
  width: 30px;
  height: 10vh;
  line-height: 6vh;
}

#login-text-box {
  text-align: center;
  margin: 0% 0% 1% 32.5vw;
}

#login-continue-button {
  /* position: absolute;
    left: 50%;
    top: 75%; */
  transform: translateY(-30%);
  /* width: min(70vh, 57vh); */

  color: white;
  width: 26vw;
  height: 5.5vw;
  background: grey;
  border-radius: var(--border-radius);
  text-align: center;
  line-height: 6vw;
  font-size: 1.9vw;
  margin: 3.5% 0% 2% 36.8vw;
}

#login-otp-button {
  transform: translateY(-15%);
  color: white;
  width: 26vw;
  height: 5.5vw;
  background: grey;
  border-radius: var(--border-radius);
  text-align: center;
  line-height: 6vw;
  font-size: 1.9vw;
  margin: 4% 0% 2% 36.8vw;
}

#login-google-icon-text {
  /* position: absolute;
    top: 83%;
    left: 50%;
    transform: translateY(-5%) translateX(-50%); */
  margin: -2% 1% 0% 1%;
  font-size: var(--text-size);
  color: var(--text-color);
  font-size: 1.4vw;
}

#login-google-icon {
  /* position: absolute;
    top: 89%;
    left: 50%; */
  height: 9vh;
  width: auto;
  /* text-align: center; */
  /* transform: translateY(-5%) translateX(-50%); */
  margin-top: 0%;
}

#Google-horizontal-line {
  flex: auto;
  height: 0.1vh;
  margin-top: 2%;
  background-color: gray;



}

#Google-horizontal-line-main-container {
  display: flex;
  width: 26vw;
  margin-left: 36.9%;
  margin-top: -2%;
}

#Google-horizontal-line2 {
  flex: auto;
  height: 0.1vh;
  margin-top: 2%;
  background-color: gray;
}

#login-button-img {
  height: 38px;
  width: auto;
}

#custom-loading {
  --background: #e3edff;
  --spinner-color: white;
   color: white;
}
#custom-loading-for-avatar{
  --background: #e3edff;
  --spinner-color: #ff5500;
    color: white;
    padding-right: 50vw;
}

.login-error-message {
  display: flex;
  width: 35vw;
  color: red;
  font-size: 2vh;
}

#login-screen-input {
  display: grid;
  gap: 1vw;
}

#login-otp-sent {
  font-size: 1.5vw;
  color: #565656;
}

.login-class-header {
  position: absolute;
  margin: var(--margin);
}

.scroll-header {
  overflow: scroll;

}

.scroll-header::-webkit-scrollbar {
  display: none;
}

#login-resend-otp {
  display: flex;
  justify-content: space-between;
  line-height: 3vw;
}

#login-time-remaining {
  font-size: 1.5vw;
}

#login-resend-otp-text {
  font-size: 1.5vw;
}


#login-resend-otp-text {
  font-size: 2vw;
  font-weight: bold;
}

.login-verification-error-message {
  width: 35vw;
  color: red;
  font-size: 1.5vw;

}