p {
    font-family: unset;
}


#login-screen {
    --ion-background-color: #F2D9CA !important;
}

#login-chimple-logo {
    /* height: min(200px, 60vh);
    margin-left: calc(33vw);
    margin-top: 2%; */
    height: 28%;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translateY(-50%) translateX(-50%);
}

#chimple-brand-text1 {
    position: absolute;
    top: 30%;
    left: 50%;
    /* height: 20%; */
    /* width: 40%; */
    font-weight: bolder;
    text-align: center;
    transform: translateY(-5%) translateX(-50%);
    font-size: 4vh;
}

#chimple-brand-text2 {
    position: absolute;
    top: min(38%, 44%);
    height: auto;
    /* height: min(200px, 60vh); */
    width: min(90%, 100%);
    font-weight: 500;
    left: min(5%, 10%);
    text-align: center;
    line-height: 1;
    font-size: 4vh;
}

#login-continue-button {
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translateY(-50%) translateX(-50%);
    width: min(90vh, 100vh);
    height: min(55vh, 15vh);
    color: white;
    background: green;
    border-radius: 4vh;
    text-align: center;
    line-height: 15vh;
    font-size: 4vh;
}

#login-google-icon-text {
    position: absolute;
    top: 83%;
    left: 50%;
    transform: translateY(-5%) translateX(-50%);
    font-size: 4vh;
}

#login-google-icon {
    position: absolute;
    top: 89%;
    left: 50%;
    height: 10vh;
    width: auto;
    text-align: center;
    transform: translateY(-5%) translateX(-50%);
}

#login-button-img {
    height: 38px;
    width: auto;
}