#parent-page {
  /* background-color: white; */
  /* color: black; */
  /* border-radius: 4vh; */
  /* display: flex;
    padding: 0% 5% 0% 5%;
    justify-content: space-around; */
  align-items: center;
}

/* #ParentHeader{
  margin: var(--margin);
  margin-bottom: 0;
}
#ParentHeader-1{
  padding: 0;
} */
#faq-page {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  width: 30vw;
  background-color: white;
  border-radius: 5vh;
  margin: 15% 40% 21% 35%;
  text-align: center;
  padding: 3vh 2vh;
  font-weight: bold;
  font-size: var(--text-size);
  color: black;
  cursor: pointer;
}

#parent-page-profile {
  display: flex;
  margin: 1% 2% 3% 2%;
  white-space: nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
}

#parent-page-setting {
  /* background-color: white; */
  display: flex;
  margin: 6% 19% 0% 19%;
  justify-content: space-between;
  align-items: center;
  font-size: var(--text-size);
  color: black;
  /* gap: 10px;
    column-gap: 10px; */
  /* justify-content: left;
    flex-wrap: wrap;
    gap: 2vw; */
}

#parent-page-setting-lang-text {
  /* display: flex;
    margin: 6% 5% 0% 5%;
    justify-content: space-evenly;
    align-items: center; */
  margin-bottom: 2vh;
  font-size: var(--text-size);
  color: black;
  margin-top: -4vh;
}

.parent-page-setting-div #toggle-button {
  margin-top: 5vh;
}

#parent-page-setting-lang-dropdown {
  outline-style: solid;
  outline-width: 0.1px;
  color: black;
  border-radius: var(--border-radius);
  padding: 1%;
}

#parent-page-help {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 81vh;
  row-gap: 0.5vh;
}

#parent-page-help-title {
  font-weight: bolder;
  text-align: center;
  font-size: var(--text-size);
  font-family: "Balooregular";
  color: #182a4f;
  margin: 1% 0% 0.5% 0%;
}

#parent-page-help-title-link {
  display: flex;
  flex-direction: column;
  row-gap: clamp(0vh, 4vh, 12vh);
  align-items: center;
  width: 80vw;
}

#parent-page-help-title-e1 {
  display: flex;
  margin: 0.5%;
  justify-content: space-between;
  align-items: center;
  padding-top: 2vh;
  width: 100%;
}

#parent-page-help-title-e2 {
  font-weight: bolder;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 60%;
  border-radius: 5vh;
  height: 60%;
}

#parent-page-help-title-e2-video {
  height: auto;
}

#parent-page-help-title-e2-video-youtude {
  width: 100%;
  height: 32vh;
}

#parent-page-help-title-e3 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: var(--border-radius);
  background-color: white;
  width: 100%;
}

#parent-page-help-share-button {
  background-color: white;
  color: black;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20vw;
  padding: 0.5% 1%;
  font-size: var(--text-size);
  overflow: hidden;
  white-space: nowrap;
}

#parent-page-help-share-button-e3 {
  background-color: white;
  color: black;
  border-radius: var(--border-radius);
  display: flex;
  /* padding: 0% 5% 0% 5%; */
  justify-content: inherit;
  align-items: center;
  /* width: 12vw; */
  /* height: 15%; */
  padding: 0.5% 1%;
  font-size: var(--text-size);
  /* margin: 0.5vh; */
  gap: 2vw;
}

#parent-logout {
  text-align: -webkit-center;
  margin-top: 10vh;
}

#parent-delete {
  text-align: -webkit-center;
  margin-top: 10vh;
}

#parent-page-tab-bar {
  margin-right: 2vh;
  font-size: 1.5vw;
  font-weight: bold;
  width: 19vw;
  font-family: "BalooRegular";
  justify-content: space-between;
  white-space: nowrap;
}

.back-button-in-parent {
  position: absolute;
  margin: var(--margin);
  margin-right: 0;
  /* color: black; */
}

#logout-delete-button {
  position: relative;
  display: flex;
  justify-content: space-around;
  top: 17vh;
}

#parent-page-help-title-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#help {
  padding: 1vh;
}