#parent-page {
    /* background-color: white; */
    /* color: black; */
    /* border-radius: 4vh; */
    /* display: flex;
    padding: 0% 5% 0% 5%;
    justify-content: space-around; */
    align-items: center;
}

#parent-page-profile {
    display: flex;
    margin: 20vh 1% 0% 1%;
    justify-content: space-around;
    align-items: center;
}

#parent-page-setting {
    /* background-color: white; */
    display: flex;
    margin: 6% 5% 0% 5%;
    justify-content: space-evenly;
    align-items: center;
    font-size: var(--text-size);
    color: black;
    /* gap: 10px;
    column-gap: 10px; */
    /* justify-content: left;
    flex-wrap: wrap;
    gap: 2vw; */
}

#parent-page-setting-lang-text {
    /* display: flex;
    margin: 6% 5% 0% 5%;
    justify-content: space-evenly;
    align-items: center; */
    margin-bottom: 4vh;
    font-size: var(--text-size);
    color: black;
}

.parent-page-setting-div #toggle-button {
    margin-top: 5vh;
}


#parent-page-setting-lang-dropdown {
    outline-style: solid;
    outline-width: 0.1px;
    color: black;
    border-radius: var(--border-radius);
    padding: 1%;
}

#parent-page-help {
    /* display: flex; */
    text-align: center;
}

#parent-page-help-title {
    font-weight: bolder;
    text-align: center;
    font-size: 5vh;
    margin: 2% 0%;
}

#parent-page-help-title-e1 {
    display: flex;
    margin: 0.5%;
    justify-content: space-evenly;
    align-items: center;
}

#parent-page-help-title-e2 {
    background-color: white;
    margin: 1% 25%;
    padding: 1%;
    text-align: center;
    font-weight: bolder;
    width: 50vw;
    /* height: auto; */
    height: 51vh;
    border-radius: 3vh;
    overflow: hidden;
}

#parent-page-help-title-e2-video {
    width: 85%;
    /* height: 90%; */
    /* height: 40vh; */
}

#parent-page-help-title-e2-video-youtude {
    width: 43vw;
    height: 40vh;
    margin-left: 7.5%;
}

#parent-page-help-title-e3 {
    display: flex;
    margin: 1% 11% 2% 12%;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 2vh;
    background-color: white;
}

#parent-page-help-share-button {
    background-color: white;
    color: black;
    border-radius: var(--border-radius);
    display: flex;
    /* padding: 0% 5% 0% 5%; */
    justify-content: space-between;
    align-items: center;
    width: 18vw;
    /* height: 15%; */
    padding: 0.5% 1%;
    font-size: var(--text-size);
}

#parent-page-help-share-button-e3 {
    background-color: white;
    color: black;
    border-radius: var(--border-radius);
    display: flex;
    /* padding: 0% 5% 0% 5%; */
    justify-content: inherit;
    align-items: center;
    /* width: 12vw; */
    /* height: 15%; */
    padding: 0.5% 1%;
    font-size: var(--text-size);
    margin: 0.5vh;
}