#parent-page {
  /* background-color: white; */
  /* color: black; */
  /* border-radius: 4vh; */
  /* display: flex;
    padding: 0% 5% 0% 5%;
    justify-content: space-around; */
  align-items: center;
}

/* #ParentHeader{
  margin: var(--margin);
  margin-bottom: 0;
}
#ParentHeader-1{
  padding: 0;
} */

#parent-page-profile {
  display: flex;
  margin: 1% 2% 3% 2%;
  white-space: nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
}

#parent-page-setting {
  /* background-color: white; */
  display: flex;
  margin: 6% 5% 0% 5%;
  justify-content: space-evenly;
  align-items: center;
  font-size: var(--text-size);
  color: black;
  /* gap: 10px;
    column-gap: 10px; */
  /* justify-content: left;
    flex-wrap: wrap;
    gap: 2vw; */
}

#parent-page-setting-lang-text {
  /* display: flex;
    margin: 6% 5% 0% 5%;
    justify-content: space-evenly;
    align-items: center; */
  margin-bottom: 2vh;
  font-size: var(--text-size);
  color: black;
  margin-top: -4vh;
}

.parent-page-setting-div #toggle-button {
  margin-top: 5vh;
}

#parent-page-setting-lang-dropdown {
  outline-style: solid;
  outline-width: 0.1px;
  color: black;
  border-radius: var(--border-radius);
  padding: 1%;
}

#parent-page-help {
  display: flex;
  text-align: center;
  flex-flow: column;
  height: 81vh;
  justify-content: space-between;
  row-gap: 0.5vh;

}

#parent-page-help-title {
  font-weight: bolder;
  text-align: center;
  font-size: var(--text-size);
  font-family: "Balooregular";
  color: #182A4F;
  margin: 1% 0% 0.5% 0%;
}

#parent-page-help-title-link {
  display: inline-flex;
  flex-direction: column;
  align-content: space-between;
  row-gap: clamp(0vh, 4vh, 12vh);
  width: 100%;
  min-height: 100%;
  justify-content: space-between
}

#parent-page-help-title-e1 {
  display: flex;
  margin: 0.5%;
  justify-content: space-evenly;
  align-items: center;
}

#parent-page-help-title-e2 {
  background-color: white;
  margin: 0% 25%;
  padding: 0%;
  text-align: center;
  font-weight: bolder;
  width: 50%;
  font-size: 4vh;
  /* height: auto; */
  height: 52%;
  border-radius: 3vh;
  overflow: hidden;
}

#parent-page-help-title-e2-video {
  width: 88%;
  /* height: 90%; */
  height: auto;
}

#parent-page-help-title-e2-video-youtude {
  width: 100%;
  height: 32vh;
  margin-left: 7.5%;
  margin-bottom: 3vh;
}

#parent-page-help-title-e3 {
  display: flex;
  margin: 0.5% 11% 4.5% 12%;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 2vh;
  background-color: white;
  width: 80%;
}

#parent-page-help-share-button {
  background-color: white;
  color: black;
  border-radius: var(--border-radius);
  display: flex;
  /* padding: 0% 5% 0% 5%; */
  justify-content: space-between;
  align-items: center;
  width: 20vw;
  /* height: 15%; */
  padding: 0.5% 1%;
  font-size: var(--text-size);
  overflow: hidden;
  white-space: nowrap;
}

#parent-page-help-share-button-e3 {
  background-color: white;
  color: black;
  border-radius: var(--border-radius);
  display: flex;
  /* padding: 0% 5% 0% 5%; */
  justify-content: inherit;
  align-items: center;
  /* width: 12vw; */
  /* height: 15%; */
  padding: 0.5% 1%;
  font-size: var(--text-size);
  margin: 0.5vh;
}

#parent-logout {
  text-align: -webkit-center;
  margin-top: 10vh;
}


#parent-page-tab-bar {
  /* display: flex;
    margin: 6% 5% 0% 5%;
    justify-content: space-evenly;
    align-items: center; */
  margin-right: 4vh;
  font-size: var(--text-size);
  font-weight: bold;
  width: 15vw;
  font-family: "BalooRegular";
  /* color: black; */
}