.wrapper {
  display: grid;
  gap: 10px;
  justify-items: center;
  align-items: center;
  margin: 2%;
  grid-template-columns: repeat(
    auto-fill,
    minmax(clamp(150px, 40vh, 200px), 1fr)
  );
}
.tabs {
  align-self: center;
  display: flex;
  margin-bottom: 1%;
  margin-top: 2%;
}
.tab {
  --padding-start: 3em;
  --padding-end: 3em;
  --ion-color-success: white;
  margin: 0em 4em;
  text-transform: none;
  font-size: var(--text-size);
  height: clamp(25px, 5vh, 40px);
  opacity: 0.8;
}
.active {
  --ion-color-success-contrast: #ff5500;
  opacity: 1;
  --ion-color-success-shade:white
}
.in-active {
  /* --ion-color-success-contrast: var(--text-color); */
  opacity: 1;
  color: var(--text-color);
  --border-color: white;
  --ion-color-success-shade:white
}

/* ion-content {
  width: calc(100% + 22px);
}
ion-content::part(scroll) {
  padding-right: 22px;
} */
