.reset-password-text-box {
  outline: solid 0.1px;
  color: var(--text-color);
  width: 26vw;
  --height: 5.5vh !important;
  border-radius: 3px;
  padding-left: 0.5vw;
  font-size: var(--text-sizeM);
  text-align: start;
  --padding-start: 12px;
  --padding-end: 12px;
  margin-bottom: 2vh;
}
#reset-password-button-inner {
  display: flex;
  position: relative;
  flex-flow: row;
  flex-shrink: 0;
  font-size: var(--text-sizeM);
  align-items: center;
  justify-content: center;
  z-index: 1;
  color: grey;
  width: 26vw;
  --background: #cfec91;
  height: 4.5vw;
  border-radius: 1vh;
  text-align: center;
  font-weight: bold;
}
.reset-password-main-div {
  padding: 2rem;
  display: flex;
  color: var(--text-color);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reset-password-eye-icon{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  cursor: pointer;
  color: black;
  z-index: 10;
  pointer-events: auto;
}
.reset-password-field-div{
  position: relative;
}