.search-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: var(--margin);
  margin-bottom: 0;
  /* margin-top: 2vh; */
  flex-direction: row;
  justify-content: space-between;
  /* margin-left: 1vh; */
  align-items: center;
}

.search-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search-bottom {
  height: 6vh;
}

.right-button {
  width: 8vh;
}
