#student-progress-display-progress-header {
  margin: 3vw 1vw 1vw 8vw;
}

#student-progress-display-progress-header-content {
  font-size: 4vh;
  color: black;
  font-weight: bold;
}

#student-progress-display-progress-content {
  margin: 3vw 1vw 1vw 8vw;
  height: 80vh;
  overflow-y: scroll;
}

#student-progress-display-progress-content-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
}

#student-progress-display-progress-no-data-message {
  text-align: center;
  color: black;
}

#student-page-tab-bar {
  margin-right: 2vh;
  font-size: var(--text-size);
  font-weight: bold;
  width: 17vw;
  font-family: "BalooRegular";
  justify-content: space-evenly;
  white-space: nowrap;
}

.back-button-inStudentProgress {
  position: absolute;
  margin: var(--margin);
  margin-right: 0;
  /* z-index: 1; */
}