#student-progress-display-progress-header {
  margin: 3vw 1vw 1vw 8vw;
}

#student-progress-display-progress-header-content {
  font-size: 4vh;
  color: black;
  font-weight: bold;
}

#student-progress-display-progress-content {
  margin: 3vw 1vw 1vw 8vw;
  height: 80vh;
  overflow-y: scroll;
}

#student-progress-display-progress-content-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#student-progress-display-progress-no-data-message {
  text-align: center;
}

#student-page-tab-bar {
  /* display: flex;
    margin: 6% 5% 0% 5%;
    justify-content: space-evenly;
    align-items: center; */
  /* margin-right: 4vh; */
  margin-right: 8vw;
  font-size: var(--text-size);
  font-weight: bold;
  width: 15vw;
  font-family: "BalooRegular";
  margin-left: 7vw;
  /* color: black; */
}
