#student-progress-display-progress-header {
  margin: 3vw 1vw 1vw 8vw;
}

#student-progress-display-progress-header-content {
  font-size: 4vh;
  color: black;
  font-weight: bold;
}
.course-detail-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.course-text {
  font-size: var(--text-size);
  font-weight: bold;
  width: 17vw;
  overflow: hidden;
  text-overflow: ellipsis;
}
.grade-text {
  font-size: 15px;
  text-transform: none;
}
.curriculum-text {
  font-size: 14px;
  text-transform: none;
  width: 15vw;
  overflow: hidden;
  text-overflow: ellipsis;
}
#student-progress-display-progress-content {
  margin: 3vw 1vw 1vw 8vw;
  height: 80vh;
  overflow-y: scroll;
}

#student-progress-display-progress-content-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
}

#student-progress-display-progress-no-data-message {
  text-align: center;
  color: black;
}
