.campaign-placeholder-count,
.campaign-placeholder-select {
  color: var(--campaign-placeholder);
  opacity: 1;
  font-size: 0.75rem;
}

.campaign-setup-page .MuiSelect-select .campaign-placeholder-select {
  font-size: 0.875rem;
}
