#parent-lock-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  user-select: none;
}

#parental-lock-close-icon {
  color: gray;
  opacity: 0.25;
  display: block;
}

#lock-icon {
  height: 11vh;
  width: 8vw;
}