#parent-header-icons {
    display: flex;
    margin: 0% 1.5% 0% 1.5%;
    justify-content: flex-start;
    align-items: center;
}

#parent-header-middle-icons {
    display: flex;
    justify-content: space-between;
    width: 70vw;
    /* width: 30vw; */
    margin: 0 auto
}

#parent-header-middle-icons div {
    padding-right: 5px
}

#parent-header-puzzle-icon {
    margin-left: -10px;
}

.parent-header-indicator {
    color: white;
    font-size: 18px;
    text-align: center;
    line-height: 1;
}