#parent-lock-header {
  position: relative;
  width: 100%;
  user-select: none;
  text-align: center; /* center the text */
  padding-top: 50px;  /* push text below cross */
}

#parental-lock-close-icon {
  position: absolute;
  top: 15px;
  right: 25px;
  cursor: pointer;
}

#parent-screen {
  width: 100%;
  color: #182A4F;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
