#profile-card {
    background-color: white;
    border-radius: 3vw;
    padding: 1.5%;
}

#profile-card-image-div {
    text-align: center;
    margin-bottom: 8%;
}

#profile-card-image-div p {
    color: black;
    font-size: var(--text-size);
}

#profile-card-image {
    width: 25%;
    height: auto;
}

#profile-card-edit-icon-div {
    text-align: end;
}

#profile-card-edit-icon {
    text-align: end;
    width: 15%;
    height: 15%;
    color: white;
    /* fill: white; */
    background-color: gray;
    border-radius: 100%;
    /* margin: 4%; */
    padding: 2%;
    opacity: 0.25;
}

#profile-card-image-report {
    text-align: center;
    background-color: #81C127;
    color: white;
    border-radius: var(--border-radius);
    width: 70%;
    height: 15%;
    margin-left: 15%;
    padding-top: 2%;
    font-size: var(--text-size);
}