#profile-card {
    background-color: white;
    border-radius: 3vw;
    padding: 1.5% 1.5% 3% 1.5%;
}

#profile-card-image-div {
    text-align: center;
    margin-bottom: 8%;
}

#profile-card-image-div p {
    color: black;
    font-size: var(--text-size);
}

#profile-card-image {
    width: 35%;
    height: auto;
}

#profile-card-user-name{
    display: block;
    margin: auto auto;
    white-space: nowrap;
    max-width: 20vh;
    text-overflow: ellipsis;
    overflow: hidden;
}

#profile-card-edit-icon-div {
    text-align: end;
}

#profile-card-edit-icon {
    text-align: end;
    width: 15%;
    height: 15%;
    color: white;
    /* fill: white; */
    background-color: gray;
    border-radius: 100%;
    /* margin: 4%; */
    padding: 2%;
    opacity: 0.25;
}

#profile-card-new-user {
    text-align: center;
}

#profile-card-new-user-icon {
    text-align: center;
    width: auto;
    /* height: 70%; */
    margin: 2%;
    opacity: 0.25;
    font-size: var(--text-size);
}

#profile-card-new-user p {
    color: black;
    font-size: var(--text-size);
}


.profile-card-empty-element {
    color: white;
    font-size: 5.5vh;
    text-align: center;
    line-height: 1;
}

#profile-card-image-report {
    text-align: center;
    background-color: #81C127;
    color: white;
    border-radius: var(--border-radius);
    width: 83%;
    height: 15%;
    margin-left: 10%;
    /*padding-top: 2%;*/
    font-size: var(--text-size);
}