.title-scoreCard {
  white-space: nowrap;
  margin: 24px 0% 0% 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6.5px;
  color: var(--text-color);
}
.title-scoreCard-icon {
  width: 6.5vh;
  min-width: 24px;
  max-width: 24px;
  height: 6.5vh;
  max-height: 24px;
  min-height: 24px;
}
.title-scoreCard-icon-3star {
  width: 6.5vh;
  min-width: 26px;
  max-width: 26px;
  height: 6.5vh;
  max-height: 36px;
  min-height: 36px;
}
.title-scoreCard-icon--mirror {
  transform: scaleX(-1);
}
.title-scoreCard span {
  position: relative;
  top: 4px;
  font-size: 20px;
  font-weight: 500;
  min-width: 110px;
}
.title-scoreCard-text-down span {
  top : 0px;
}
