.stars-icon {
    margin: 0% 0% 2% 0%;
}

.star-icon-image{
    display: flex;
    justify-content: space-evenly;
    padding: 2% 27%;
}

.score-card-first-star {
  width: min(7.6vh, 62px);
  /* float: left; 
  position: relative; 
  transform: translateY(-5vh); */
}

.score-card-middle-star {
  width: min(7.6vh, 62px);
  /* float: left;
  position: relative; */
  margin: 0 2px;
  transform: translateY(5vh);
}