.dialog-box-button-style-score-card {
  color: #ffffff !important;
  background-color: #f34d08;
  border-radius: 10px;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  min-width: 196px;
  min-height: 48px;
  max-width: 340px;
  /* font-size: var(--text-size) !important; */
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-bottom: 6px solid #8a2901;
}

.scorecard-button-kn {
  border-radius: 12px !important;
  font-size: 21.5px !important;
  padding: 13px 9px !important;
  margin-top: 2px;
}

.dialog-content-text {
  text-align: center;
  color: black;
  font-weight: "normal";
  margin: 6% 0% 0% 0%;
}

.dialog-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5%;
}

.score-card-content {
  display: flex;
  white-space: nowrap;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-top: 3px;
  gap: 3px;
}

.score-card-content-lesson-name {
  font-size: 14px;
  font-weight: 500;
  color: red;
}

#yesButton {
  background: #ccc !important;
  font-size: 3.7vh;
}

.image-icon {
  height: 75px;
  width: 75px;
  transform: translateY(20px);
}

.heart-icon {
  color: red;
  width: 6vh;
  height: 6vh;
}

.yes-text-field {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.no-text-field {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.heart-icon-field {
  background-color: white;
  border-radius: 69%;
  display: flex;
  align-items: center;
  padding: 2% 2% 1% 2%;
}

.next-icon-field {
  background-color: white;
  border-radius: 69%;
  display: flex;
  align-items: center;
  padding: 1%;
  justify-content: space-around;
}

.next-icon {
  width: 6vh;
  height: 6vh;
}

.star-images-component {
  position: relative;
  z-index: 1000;
}
.score-card-content-message {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
}
.ScoreCard-Continue-Button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}
.dialog-box-button-style-score-card:active {
  border-bottom: 2px solid #8a2901 !important;
  transition: background 0.1s, color 0.1s;
}