.title-scoreCard {
  font-size: 20px;
  white-space: nowrap;
  margin: 6% 0% 0% 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6.5px;
  font-weight: 500;
  color: var(--text-color);
}
.title-scoreCard-icon {
  width: 6.5vh;
  min-width: 26px;
  max-width: 26px;
  height: 6.5vh;
  max-height: 26px;
  min-height: 26px;
}
.title-scoreCard-icon--mirror {
  transform: scaleX(-1);
}
.title-scoreCard span {
  position: relative;
  top: 4px;
}
