#toggle-button {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    /* width: 40vw; */
}

ion-toggle {
    padding: 12px;

    height: 5vh;
    width: 10vw;

    --track-background: #ddd;
    --track-background-checked: #ddd;

    --background: #eb7769 !important;
    --background-checked: #95c34e !important;

    --handle-background: #eb7769;
    --handle-background-checked: #95c34e;

    --handle-width: 25px;
    --handle-height: 27px;
    --handle-max-height: auto;
    --handle-spacing: 6px;

    --handle-border-radius: 4px;
    --handle-box-shadow: none;
}

ion-toggle::part(track) {
    height: 10px;
    width: 65px;

    /* Required for iOS handle to overflow the height of the track */
    overflow: visible;
}