#toggle-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.horizontal-layout {
  display: flex;
  align-items: center;
  gap: 8px;
}

.vertical-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.toggle-text {
  margin: 0;
}

.common-toggle {
  padding: 12px;

  height: 5vh;
  width: 10vw;

  --track-background: #ddd;
  --track-background-checked: #ddd;

  --background: #eb7769 !important;
  --background-checked: #95c34e !important;

  --handle-background: #eb7769;
  --handle-background-checked: #95c34e;

  --handle-width: 25px;
  --handle-height: 27px;
  --handle-max-height: auto;
  --handle-spacing: 6px;
  --handle-border-radius: 4px;
  --handle-box-shadow: none;
}

.common-toggle::part(track) {
  height: 10px;
  width: 65px;
  overflow: visible;
}
