.customImageDropdown-container {
  position: relative;
  width: auto;
  height: min(5vh, 40px);
  min-height: 35px;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #9473CB;
}

.customImageDropdown-selected {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 1vw;
  cursor: pointer;
  font-size: 2.5vh;
  color: #707070;
  width: 100%;
  gap: 10px;
}

.customImageDropdown-menu {
  position: absolute;
  top: 110%; 
  right: 0;
  z-index: 10;
  background-color: white;
  max-width: 100%;
  min-width: 48vw;
  max-height: 35vh;
  overflow-y: auto;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.customImageDropdown-menu-item {
  display: flex;
  align-items: center;
  padding: 0.8vh 1vw;
  cursor: pointer;
  gap: 10px;
}

.customImageDropdown-menu-item:hover {
  background-color: #f0f0f0;
}

.customImage-icon {
  width: auto;
  max-width: 5vh;
  height: min(4vh, 30px);
  min-height: 25px;
}

.customImgdropdown-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.2;
}

.custonmImgDropdownsubject-text {
  font-size: 2vh;
  font-weight: 500;
  color: #707070;
}

.custonmImgDropdowngrade-text {
  font-size: 1.6vh;
  font-weight: 400;
  color: #707070;
}

.image-subject-dropdown-icon {
  width: 16px;
  height: 16px;
}
