.expanded-conatiner {
  display: flex;
  width: 80vw;
  flex-direction: row;
  align-items: center;
  margin: 20px;
}

.text-container {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: x-large;
}

.button-style {
  font-size: medium;
  margin: 10px;
  background-color: transparent;
  color: #4b79f0;
  border: 0;
}
