.tableRightHeader {
  position: relative;
  text-align: center;
  height: 120px; 
  overflow: hidden;
}
 
.tableRightHeaderText {
  color: #4A4949;
  font-weight: 400;
  writing-mode: vertical-rl;
  width: fit-content;
  height: 80%;
  margin: 0 auto;                 
  /* text-align: left;    */
  /* text-align: left;    */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.2;
  font-size: 14px;
  font-style: normal;
}

.aboveText, .belowText {
  transform: rotate(180deg);
  font-size: 10px;
  position: absolute;
  width: 100%; /* Full width to align with th */
  text-align: center;
}

.aboveText {
  top: 5px; /* Stick to the top */
  left: 0;
}

.belowText {
  bottom: 5px; /* Stick to the bottom */
  left: 0;
}

.subject-header {
  border-right: 1px solid #ddd;
  text-align: center;
  font-weight: bold;
  padding: 0 10px;
}

.assignment-subheaders {
  display: flex;
  justify-content: space-around;
}

.assignment-subheader {
  flex: 1;
  padding: 4px;
  border-left: 1px solid #eee;
}