.tableRightHeader {
  position: relative;
  text-align: center;
  height: 120px; 
  overflow: hidden;
}

.tableRightHeaderText {
  contain: size;
  color: #707070;
  writing-mode: vertical-rl;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: center;
}

.aboveText, .belowText {
  transform: rotate(180deg);
  font-size: 10px;
  /* position: absolute; */
  width: 100%; /* Full width to align with th */
  text-align: center;
}

.aboveText {
  top: 0; /* Stick to the top */
}

.belowText {
  bottom: 0; /* Stick to the bottom */
}

/* TableRightHeader.css */
.subject-header {
  border-right: 1px solid #ddd;
  text-align: center;
  font-weight: bold;
}

.assignment-subheaders {
  display: flex;
  justify-content: space-around;
}

.assignment-subheader {
  flex: 1;
  padding: 4px;
  border-left: 1px solid #eee;
}