.tableRightHeader {
  position: relative;
  text-align: center;
  height: 150px; 
  overflow: hidden;
}
 
.tableRightHeaderText {
  color: #707070;
  writing-mode: vertical-rl;
  width: fit-content;
  height: 80%;
  margin: 0 auto;                 
  text-align: left;   
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.2;
  font-size: 14px;
  font-style: normal;
}

.aboveText, .belowText {
  transform: rotate(180deg);
  font-size: 10px;
  /* position: absolute; */
  width: 100%; /* Full width to align with th */
  text-align: center;
  margin-top: -10px;
  margin-bottom: 10px;
}

.aboveText {
  top: 0; /* Stick to the top */
}

.belowText {
  bottom: 0; /* Stick to the bottom */
}

/* TableRightHeader.css */
.subject-header {
  border-right: 1px solid #ddd;
  text-align: center;
  font-weight: bold;
}

.assignment-subheaders {
  display: flex;
  justify-content: space-around;
}

.assignment-subheader {
  flex: 1;
  padding: 4px;
  border-left: 1px solid #eee;
}