.tableRightHeader {
  position: relative;
  text-align: center;
  height: 120px;
  width: 52px;
  min-width: 52px;
  padding: 0;
  overflow: visible;
}

.tableRightHeaderText {
  color: #4a4949;
  font-weight: 400;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 84px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.2;
  font-size: 14px;
  font-style: normal;
  transform: translate(-50%, -50%) rotate(90deg);
  transform-origin: center;
}

.aboveText,
.belowText {
  transform: rotate(180deg);
  font-size: 10px;
  position: absolute;
  width: 100%; /* Full width to align with th */
  text-align: center;
}

.aboveText {
  top: 5px; /* Stick to the top */
  left: 0;
}

.belowText {
  bottom: 5px; /* Stick to the bottom */
  left: 0;
}

.subject-header {
  border-right: 1px solid #ddd;
  text-align: center;
  font-weight: bold;
  padding: 0 10px;
}

.assignment-subheaders {
  display: flex;
  justify-content: space-around;
}

.assignment-subheader {
  flex: 1;
  padding: 4px;
  border-left: 1px solid #eee;
}
