.add-course-subject-header {
  border-right: 1px solid #ddd;
  text-align: center;
  font-weight: bold;
  padding: 0 10px;
  background-color: #f3edff;
  color: var(--text-color);
  border-radius: 10px;
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 0px 5px;
}
.add-course-subject-slider-content {
  text-align: -webkit-center;
  overflow: hidden scroll;
  margin-top: 1vh;
  margin-bottom: 20vh;
}
.add-course-slide {
  max-width: fit-content;
}
.add-course-subject-button {
  font-size: var(--text-size);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3vh;
  cursor: pointer;
  margin-bottom: 0;
  color: var(--text-color);
}
.add-course-card {
  position: relative;
  width: fit-content;
}
.add-course-gender-check-box {
  margin-right: clamp(0.25rem, 0.6vw, 0.5rem);
  color: white;
}
.add-course-course-icon {
  margin-top: 3vh;
  width: clamp(26vh, 28vh, 37vh);
  height: clamp(13vh, 49vh, 71vh);
  border-radius: 4vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 22vw;
  padding: 0% 4% 0% 4%;
  position: relative;
}
#add-course-subject-card-select-icon {
  position: absolute;
  right: 0.2rem;
  top: 0.2rem;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
#add-course-subject-card-subject-name {
  background: rgba(255, 255, 255, 0.5);
  color: var(--text-color);
  font-size: clamp(8px, 2vh, 10px);
  border-radius: 25px;
  position: absolute;
  top: calc(3vh + 0.5rem);
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  max-width: calc(100% - 2rem);
  padding: 0 0.75rem;
  white-space: nowrap;
  z-index: 1;
  text-align: center;
}
