.subject-button {
  font-size: var(--text-size);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3vh;
  cursor: pointer;
  margin-bottom: 0;
  color: var(--text-color);
}
.subject-container1 {
  display: inline;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.course-icon {
  /* width: min(30vh, 136px);
  height: min(30vh, 136px);
  background-color: white;
  background-repeat: no-repeat; */
  /* width: clamp(120px, 16.5vw, 400px);
  height: clamp(40px, 65vw, 254px); */
  margin-top: 3vh;
  width: clamp(26vh, 28vh, 37vh);
  height: clamp(13vh, 49vh, 71vh);
  border-radius: 4vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  max-Width:22vw;
  padding:0% 4% 0% 4%;
}

#subject-card-select-icon{
  justify-self: right;
  position: absolute;
  width: 40%;
  right: -3%;
  top: 12%;
}

#subject-card-subject-name {
  background: rgba(255, 255, 255, 0.5);
  color: var(--text-color);
  font-size: clamp(10px, 2vh, 8px);
  border-radius: 25px;
  position: absolute;
  top: 13%;
  justify-self: left;
  width: 30%;
}

.course-img {
  object-fit: contain;
  min-width: 100%;
  min-height: 100%;
}
.slide {
  max-width: fit-content;
}