.chapter-container {
  margin: 0.4vh;
  gap: 2vh;
  align-items: center;
  justify-items: center;
  flex: 1 0 21%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.chapter-button {
  font-size: var(--text-size);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3vh;
  cursor: pointer;
  color: var(--text-color);
}

.chapter-icon {
  width: 30vh;
  height: 30vh;
  background-color: white;
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  background-repeat: no-repeat;
  background-position: 50%;
}

.grade-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 100vw;
}

.chapter-img {
  min-width: 100%;
  min-height: 100%;
  object-fit: fill;
}
