.chapter-container {
  display: grid;
  gap: min(10px, 1vh);
  justify-items: center;
  margin: 2%;
  grid-template-columns: repeat(
    auto-fill,
    minmax(clamp(150px, 40vh, 200px), 1fr)
  );
}
.chapter-button {
  font-size: var(--text-size);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: min(20px, 3vh);
  cursor: pointer;
  color: var(--text-color);
  text-align: center;
  white-space: nowrap;
}
.chapter-icon {
  background-color: white;
  /* clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%); */
  background-repeat: no-repeat;
  background-position: 50%;
  width: min(70vh, 130px);
  height: min(70vh, 130px);
  border-radius: 50%;
}

.chapter-icon-in-avatar-image-option {
  background-color: white;
  /* clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%); */
  background-repeat: no-repeat;
  background-position: 50%;
  width: min(70vh, 130px);
  /* height: min(70vh, 130px); */
  border-radius: 50%;
}
.grade-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 100vw;
  margin-right: 3vh;
  margin-top: 1vh;
}
.chapter-img {
  min-width: 100%;
  min-height: 100%;
  object-fit: fill;
}
.chapter-download {
  position: relative;
  right: 35%;
  bottom: 33%;
}
