.placeholder {

  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.image {
  width: calc(100% + 10%);
  height: calc(100% + 10%);
  opacity: 0;
  transition: opacity 0.5s;
}

.imageLoaded {
  opacity: 1;
}
=======
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .image {
    width: calc(100% + 10%);
    height: calc(100% + 10%);
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  .imageLoaded {
    opacity: 1;
  }
  

