.bar-header {
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.right {
  position: absolute;
  top: 0;
  right: 0;
}

ion-select::part(icon) {
  content: url("../../public/assets/icons/DropDownArrow.png");
}
ion-select {
  background: white;
  padding: 10px 20px;
  border-radius: 30px;
  height: min(5vh, 40px);
  min-height: 35px;
}
ion-select::part(text) {
  color: var(--text-color);
  padding-right: 20px;
  font-size: var(--text-size);
}

ion-popover {
  /* --background: rgba(40, 173, 218, 0.6);
  --backdrop-opacity: 0.6;
  --box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6);
  --color: white; */
  --width: none;
}
