.chapter-button {
  margin: 1% 0%;
  --padding-start: 1em;
  --padding-end: 0.3em;
  --ion-color-success: white;
  opacity: 0.7;
  height: min(5vh, 40px);
  min-height: 25px;
  /* font-size: var(--text-size); */
  font-size: clamp(10px, 3vh, 20px);
}
.hr {
  border: 1px solid rgba(255, 255, 255, 0.6);
  align-self: center;
  width: 50px;
  overflow: hidden;
  opacity: 0.8;
  z-index: -1;
}
.active-button {
  opacity: 1;
}
.active-line {
  border: 1px solid rgba(255, 255, 255);
}
.star {
  width: min(3vh, 26px);
  min-width: 15px;
}

.chapter-name {
  padding-right: 1em;
  align-self: center;
  text-transform: none;
}
