#chimple-logo {
  height: 20vh;
  padding-top: 0.2vh;
  margin-top: 1vh;
  margin-bottom: -3vh;
}

#logo-header {
  text-align: center;
}

#logo-heading {
  font-weight: bold;
  font-size: 6vh;
}

#logo-msg {
  font-size: var(--text-size);
}
