
ion-select {
  padding: 2vh 0.5vw;
  border-radius: 12px;
  height: min(5vh, 40px);
  width: 26vw;
  border-radius: 12px;
  height: min(4vh, 40px);
  min-height: 32px;
}
ion-select::part(text) {
  color: var(--text-color);
  
  font-size: var(--text-size);
}

ion-select,
ion-item {
  --ion-background-color: white;
  --color: black;
}
ion-popover {
  width: 26vw;
  
  margin-left: -0.6vw;
}
ion-label {
  font-size: var(--text-size) !important;
}


ion-popover::part(backdrop) {
  --ion-backdrop-color: transparent;
}
.custom-dropdown-custom-outline {
  border: 1px solid #ccc;
  border-radius: 8px;
}
