.vertical-center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 100%;
}
.content {
  text-align: -webkit-center;
}
.slide {
  max-width: fit-content;
}
