/* ion-select::part(icon) {
  content: url("../../public/assets/icons/DropDownArrow.png");
} */
ion-select {
  padding: 2vh 0.5vw;
  border-radius: 12px;
  height: min(5vh, 40px);
  width: 26vw;
  border-radius: 12px;
  height: min(4vh, 40px);
  min-height: 32px;
}
ion-select::part(text) {
  color: var(--text-color);
  /* padding-right: 20px ; */
  font-size: var(--text-size);
}

ion-select,
ion-item {
  --ion-background-color: white;
  --color: black;
}
ion-popover {
  width: 26vw;
  /* margin-top: 1vh; */
  margin-left: -0.6vw;
}
ion-label {
  font-size: var(--text-size) !important;
}

/* ion-select::part(backdrop) {
  background-color: transparent;
} */

ion-popover::part(backdrop) {
  --ion-backdrop-color: transparent;
}