ion-select::part(icon) {
  content: url("../../public/assets/icons/DropDownArrow.png");
}
ion-select {
  background: white;
  padding: 10px 20px;
  border-radius: 30px;
  height: min(5vh, 40px);
  min-height: 35px;
}
ion-select::part(text) {
  color: var(--text-color);
  padding-right: 20px;
  font-size: var(--text-size);
}

ion-popover {
  --width: none;
}
