.all-users-display {
    display: grid;
    gap: min(10px, 1vh);
    justify-items: center;
    flex-direction: row;
    align-self: center;
    overflow-y: scroll;
    height: 50vh;
    margin: 10%;
    grid-template-columns: repeat(auto-fill,
            minmax(clamp(80px, 40vh, 40px), 1fr));
}