.download-or-delete-button {
  height: clamp(30px, 8vh, 58px);
  width: clamp(30px, 8vh, 58px);
  border-radius: 50%;
  background-color: rgb(220, 213, 213);
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
}

.loading-button {
  width: 95%;
  height: 95%;
  border: 3px solid transparent;
  border-top-color: #007bff;
  border-right-color: #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  box-sizing: border-box;
  display: block;
  margin: 0;
  flex: 0 0 auto;
  transform-origin: center center;
  position: relative;
  top: 49%;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.lesson-or-chapter-delete-icon {
  margin-top: 7px;
  width: 2vw;
  height: auto;
}

.lesson-or-chapter-download-icon {
  width: 65%;
  height: 60%;
}
