#home-header-icons {
    display: flex;
    margin: 0% 1.5% 0% 1.5%;
    justify-content: space-between;
    align-items: center;
}

#home-header-middle-icons {
    display: flex;
    justify-content: space-between;
    /* width: 90vh; */
    /* width: 30vw; */
    /* margin: 0 auto */
    gap: 4vw;
}

#home-header-middle-icons div {
    padding-right: 5px
}

#home-header-puzzle-icon {
    margin-left: -10px;
}

.home-header-indicator {
    color: white;
    font-size: 18px;
    text-align: center;
    line-height: 1;
    margin-right: 1.5vw;
}