.icon-button {
  cursor: pointer;
  color: var(--text-color);
  font-size: var(--text-size);
  text-align: center;
}
.img {
  height: min(44px, 12vh);
  width: auto;
  min-height: 30px;
}
.child-Name{
  white-space:nowrap;
  max-width: 20vh;
  text-overflow: ellipsis;
  overflow: hidden;
}
