.icon-button {
  cursor: pointer;
  color: var(--text-color);
  font-size: var(--text-size);
  text-align: center;
}

.img {
  height: 10vh;
  width: auto;
  /* min-height: 30px; */
}

.child-Name {
  white-space: nowrap;
  max-width: 17vw;
  /* text-overflow: ellipsis; */
  overflow: hidden;
}

.badge-notification {
  color: white;
  background-color: green;
  border-radius: 100%;
  height: 4vh;
  width: 4vh;
  font-size: 2vh;
  margin-left: 7vh;
  margin-bottom: -3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -1vh;
}

#homework-notification {
  display: flex;
  justify-content: center;
}