.path-container {
    display: flex;
    align-items: flex-start;
    gap: 2vw;
    padding: 2vh 2vw;
    justify-content: space-between;
}

.path-structure {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}