#lesson-card {
  cursor: pointer;
  box-shadow: none !important;
  margin: 0 0em;
  -ms-transform: scale(0.85);
  -webkit-transform: scale(0.85);
  transform: scale(0.85);
}

#lesson-card1 {
  cursor: pointer;
  box-shadow: none !important;
  margin: 0 1em;
}

#lesson-header {
  padding: 10px 0px 0px 0px;
}

#lesson-card-status-icon1 {
  width: min(2.8vh, 28px);
  float: left;
}

.pattern {
  border-radius: 12%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-area: 1/1;
}

#lesson-card-image {
  max-width: 100%;
  height: auto;
  width: auto;
  /* height: 80%; */
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 1/1 / span 2 / span 2;
}

/* #lesson-card-status-icon {
    position: absolute;
    top: 6%;
    right: 10%;
} */

#lesson-card-status-icon {
  height: 38px;
  width: auto;
  position: absolute;
  right: 4%;
  top: 3%;
  padding: max(1.5vh, min(15px, 0.8vh));
}

#lesson-card-score {
  position: absolute;
  top: 4%;
  right: 3%;
}

#lesson-card-name {
  margin: 0px !important;
  color: var(--text-color);
  font-size: var(--text-size);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  font-weight: bold;
}

#lesson-card-name-fav-icon {
  margin: 0px !important;
  color: var(--text-color);
  font-size: var(--text-size);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  font-weight: bold;
  position: relative;
  bottom: 8vh;
}

#lesson-card-subject-name {
  background: rgba(255, 255, 255, 0.5);
  color: var(--text-color);
  font-size: var(--text-size);
  border-radius: 25px;
  position: absolute;
  top: 4%;
  justify-self: center;
  width: 55%;
}

.lesson-card-homework-indicator {
  height: 8.2vh;
  width: 2vw;
}

#lesson-card-homework-icon {
  justify-self: left;
  position: absolute;
  width: 20%;
  left: 0%;
  border-bottom-right-radius: 6vh;
  border-top-left-radius: 6vh;
  background-color: white;
  opacity: 1;
  top: 0%;
}

#chapter-title {
  color: var(--text-color);
  font-size: var(--text-size);
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

#chapter-title-fav-icon {
  color: var(--text-color);
  font-size: var(--text-size);
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  position: relative;
  bottom: 8vh;
}
.download-lesson-button-container {
  display: flex;
  position: relative;
  justify-content: flex-start;
  bottom: 10vh;
  left: 3vh;
}
