#lesson-card {
    cursor: pointer;
    box-shadow: none !important;
    margin: 10px 15px 10px 0px;
}

#lesson-header {
    padding: 10px 0px 0px 0px;
}


#lesson-card-status-icon1{
    width: min(2.8vh, 28px);
    float: left;
}

#lesson-card-image {
    max-width: 100%;
    height: auto;
    width: auto;
    /* height: 80%; */
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1/1;
}

/* #lesson-card-status-icon {
    position: absolute;
    top: 6%;
    right: 10%;
} */

#lesson-card-status-icon {
    height: 38px;
    width: auto;
    position: absolute;
    right: 0;
    top: 0;
    padding: max(1.5vh, min(10px, 0.5vh));
}

#lesson-card-score {
    position: absolute;
    top: 4%;
    right: 3%;
}

#lesson-card-name {
    margin: 0px !important;
    color: var(--text-color);
    font-size: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#lesson-card-subject-name {
    background: rgba(255, 255, 255, 0.5);
    color: #fff;
    border-radius: 25px;
    position: absolute;
    top: 4%;
    justify-self: center;
    width: 55%;
}