.Lesson-slider-content {
  text-align: -webkit-center;
  overflow: hidden scroll;
  margin-top: 1vh;
  margin-bottom: 12vh;
}

.Lesson-slider-content::-webkit-scrollbar {
  display: none;
}

.slide {
  max-width: fit-content;
}