.loading-wrapper {
  --background: transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.loading {
  /* border-radius: 30px; */
  width: 100px;
  height: 100px;
}

.loading-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
}