.login-form {
  margin-top: 1vh;
}
.login-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: var(--margin);
  margin-bottom: 0;
}

.login-header-left,
.login-header-right {
  max-width: 60px;
  min-width: 40px;
  width: 3vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.login-header-center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
}

#login-with-email-chimple-logo {
  text-align: center;
  width: 11vw;
  height: 15vh;
  margin-bottom: 3px;
}
.login-with-email-text-box {
  outline: solid 0.1px;
  color: var(--text-color);
  width: 26vw;
  --height: 5.5vh !important;
  border-radius: 3px;
  padding-left: 0.5vw;
  font-size: var(--text-sizeM);
  text-align: start;
  --padding-start: 12px;
  --padding-end: 12px;
}
.login-with-email-password-text-box {
  outline: solid 0.1px;
  color: var(--text-color);
  width: 26vw;
  border-radius: 3px;
  padding-left: 0.5vw;
  font-size: var(--text-sizeM);
  text-align: start;
  padding: 0 8px !important;
  --height: 5.5vh;
}

.login-with-email-text-box-div {
  color: var(--text-color);
  font-size: var(--text-sizeL);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* margin-bottom: 1vw; */
}

.login-with-email-label {
  margin-left: 0.2vw;
  margin-bottom: 0.5vw;
}
.login-with-email-text-box-main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-with-email-button {
  width: 20vw;
  height: 9vh;
  box-shadow: 0;
  display: flex;
  justify-content: center;
  outline: solid 0.1px;
}
#login-with-email-button-inner {
  display: flex;
  position: relative;
  flex-flow: row;
  flex-shrink: 0;
  font-size: var(--text-sizeL);
  text-transform: none;
  align-items: center;
  justify-content: center;
  z-index: 1;
  color: var(--text-color);
  width: 26vw;
  --background: #cfec91;
  height: 3.5vw;
  border-radius: 1vh;
  text-align: center;
  font-weight: bold;
}
.email-password-reset-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8vh;
}
.login-with-email-text-box,
.login-with-email-password-text-box {
  padding: 8px 12px;
  box-sizing: border-box;
}
.forgot-password-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 26vw;
}
.forgot-password-text {
  font-size: 10px;
  color: var(--text-color);
  cursor: pointer;
}
.login-with-email-eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  cursor: pointer;
  color: black;
  z-index: 10;
  pointer-events: auto;
}
.login-with-email-password {
  position: relative;
}
.login-with-email-forgot-password {
  height: calc(100vh - 150px);
  display: flex;
  color: var(--text-color);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.login-link-text {
  color: #ff5500;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}
.login-with-email-error-text {
  font-size: var(--text-sizeM);
  color: red;
}
.login-with-email-forgot-password-text-box {
  color: var(--text-color);
  font-size: var(--text-sizeL);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1vw;
}

.custom-email-input {
  --border-color: #1e2d56;
  --border-radius: var(--border-radius);
  --highlight-height: 0px;
  --min-height: 35px;
  height: 5vh;
  max-height: 60px;
  width: 26vw;
  min-width: 190px;
  max-width: 400px;
  border: 1px solid #1e2d56;
  border-radius: 8px;
  margin-bottom: 0px;
  background: white;
  min-height: 35px;
  --padding-top: 0px;
  --padding-start: 5px;
  --padding-bottom: 0px;
  --inner-padding-top: 0px;
  --inner-padding-bottom: 0px;
}

.custom-email-input ion-label {
  color: gray !important;
  font-size: 13px;
  transition: all 0.2s ease-in-out;
}

.custom-email-input ion-label.label-floating {
  color: gray !important;
  font-size: 11px;
  transform: translateY(100%) scale(0.9);
  transition: all 0.2s ease-in-out;
}

.custom-email-input ion-input {
  font-size: 13px;
  color: #1e2d56;
}
.login-with-email-input.sc-ion-input-md-h {
  --padding-top: 2px;
  --padding-bottom: 0 !important;
  --padding-start: 0;
}
