.fav-icon {
  display: flex;
  height: 3vw;
  width: 3vw;
  background-color: rgb(220, 213, 213);
  border-radius: 30vw;
  justify-content: space-around;
  margin-top: -9vh;
  margin-right: 2vw;
  float: right;
}

.fav-icon-image {
  color: red;
  height: 3.1vw;
  width: 2.7vw;
}

.with-chapter-title {
  display: flex;
  height: 3vw;
  width: 3vw;
  background-color: rgb(220, 213, 213);
  border-radius: 30vw;
  justify-content: space-around;
  margin-top: -9vh;
  margin-right: 2vw;
  float: right;
}