.fav-icon {
  float: left;
  position: relative;
  background-color: rgb(220, 213, 213);
  height: 3vw;
  width: 3vw;
  top: -115%;
  left: 88%;
  border-radius: 30vh;
}

.fav-icon-image {
  color: red;
  height: 3.1vw;
  width: 2.7vw;
}

.with-chapter-title {
  float: left;
  position: relative;
  background-color: rgb(220, 213, 213);
  height: 3vw;
  width: 3vw;
  top: -115%;
  left: 88%;
  border-radius: 30vh;
}

.lovediocn {
  margin-bottom: -3vw;
}