.lesson-card-score-card {
    width: 100%;
}

.lesson-card-score-card-star {
    width: min(2.8vh, 28px);
    float: left;
}

.lesson-card-score-card-middle-star {
    width: min(2.8vh, 28px);
    float: left;
}