#text-box {
    /* position: absolute; */
    outline-style: solid;
    outline-width: 0.1px;
    /*left: 50%; */
    color: var(--text-color);
    /*top: 58%; */
    width: 26vw;
    height: 5.5vw;
    transform: translateY(0vw) translateX(4.3vw);
    border-radius: var(--border-radius);
    
    /* background-color: var(--ion-background-color); */
}

#text-box-elements {
    display: -webkit-box;
    text-align: center;
    /* display: flex; */
    /* justify-content: space-between; */
    margin: 2% 1% 1% 1%;
}

#text-box-icon {
    width: 4vw;
    height: 2.1vw;
    min-width: 1vw;
    min-height: 1vw;
    /*margin: 4.6%;*/
    color:black;
    margin: 1.7vw 0vw 0vw 0.5vw;
    /*transform: translateX(-6px) translateY(4px); */
}

#text-box-vertical-line {
    width: 0.1vw;
    height: 3.5vw;
   /* margin-top: 3.5%; */
    background-color: var(--text-color);
    /*transform: translateX(8px);*/
    margin: 1vw 0vw 0vw 0.5vw;
}

#text-box-ion-item {
    font-size: 4vw !important;
    transform: translateY(-1.7vw) translateX(-9.9vw) scale(0.5) !important;
    height: 9vw;
    width: 40vw;
    /*margin: -1.3vw 0vw 0vw -8vw;*/
    /*scale: 0.5;*/
}

.text-box-ion-label {
    margin: 0px !important;
    padding: 0% !important;
    font-size: 3vw !important;
}

.text-box-ion-input {
    transform: translateY(0vh) !important;
    font-size: 3vw !important;
    /* height: 10px !important; */
}