#text-box {
    /* position: absolute; */
    outline-style: solid;
    outline-width: 0.1px;
    left: 50%;
    top: 58%;
    width: min(90vh, 100vh);
    height: min(55vh, 15vh);
    /* transform: translateY(-50%) translateX(-50%); */
    border-radius: 4vh;
    color: var(--text-color);
}

#text-box-elements {
    display: flex;
    text-align: center;
    /* display: flex; */
    /* justify-content: space-between; */
    margin: 1% 1% 1% 1%;
}

#text-box-icon {
    width: auto;
    height: 6vh;
    margin: 4.1%;
}

#text-box-vertical-line {
    width: 0.5vh;
    height: 10vh;
    margin-top: 2%;
    background-color: gray
}

#text-box-ion-item {
    font-size: 4vh !important;
    transform: translateY(-8px) translateX(-20px) scale(0.75) !important;
}

.text-box-ion-label {
    margin: 0px !important;
    padding: 0% !important;
    font-size: 5vh !important;
}

.text-box-ion-input {
    transform: translateY(3vh) !important;
    font-size: 5vh !important;
    /* height: 10px !important; */
}