.homeworkpathway-structure-div {
  position: absolute;
  top: 70%;
  left: 23%;
  height: 51vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) and (orientation: landscape) {
  .homeworkpathway-structure-div {
    top: 30%; /* Adjust for tablets and phones in landscape */
  }
}

.homeworkpathway-structure-animated-pointer {
  animation: diagonal-move 1.4s infinite ease-in-out;
}

@keyframes diagonal-move {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(
      5px,
      5px
    ); /* adjust these values to your desired diagonal distance */
  }
  100% {
    transform: translate(0, 0);
  }
}
