.homeworkpathway-structure-div {
  position: absolute;
  top: 40%;
  left: 20%;
  height: 51vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeworkpathway-structure-animated-pointer {
  animation: diagonal-move 1.2s infinite ease-in-out;
}

@keyframes diagonal-move {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(20px, 20px); /* adjust these values to your desired diagonal distance */
  }
  100% {
    transform: translate(0, 0);
  }
}


