.join-class-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: relative;
  /* margin-top: 15vh; 
  height: 60vh; */
}

.join-class-title {
  font-size: var(--text-size);
}

.join-class-text-box {
  width: 100%;
  /* height: max(6vh, 5vw); */
  height: 10vh;
  padding: 2vh;
  padding-left: 4vh;
  border-radius: 4vw;
  border: hidden;
  outline: none;
  margin-top: 1vh;
  background-color: white;
  color: #05342f;
}

.error-text {
  color: red;
  font-size: var(--text-size);
}

.okay-button {
  color: white !important;
  border-radius: var(--border-radius) !important;
  padding: 4% 0% !important;
  width: 50%;
  font-size: var(--text-size);
  text-align: center;
  background-color: #83c327;
  margin-top: 5%;
  cursor: pointer;
  width: 20vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.okay-button:disabled {
  opacity: 0.5;
}