.join-class-container {
  background-color: transparent;
  text-align: center;
  width: clamp(360px, 45%, 700px);
  height: 100%;
  margin-top: -40px;
}

.join-class-container h2 {
  font-size: clamp(18px, 2.2vw, 36px);
  font-weight: 600;
  color: #182a4f;
  margin-bottom: clamp(19px, 3vh, 60px);
}

.join-class-input-wrapper {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  width: clamp(550, 9vw, 800px);
  margin: clamp(20px, 5vh, 40px) auto;
  position: relative;
}

.join-class-input-box {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: clamp(44px, 6vh, 80px); 
  border: 1px solid #182a4f;
  border-radius: 12px;
  padding: clamp(8px, 2vw, 12px) clamp(12px, 3vw, 20px);
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.join-class-input-box::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 13px; 
  width: 80px; 
  height: 3px;
  background-color: transparent; 
  background-color: #ffffff; 
  z-index: 2;
}

.join-class-input-label {
  position: absolute;
  top: -18px;
  left: 13px;
  background: transparent;
  padding: 0 6px;
  font-style: normal;
  font-size: 12px;
  color: #182a4f;
  z-index: 100;
}

.join-class-required {
  color: #182a4f;
  margin-left: 2px;
  font-size: 20px;
  font-weight: 200;
}

.join-class-icon-area {
  width: 50px;
  display: flex; 
  align-items: center; 
  justify-content: center; 
}

.join-class-icon-area img {
  width: 26px;
  height: 22px;
}

.join-class-divider {
  height: 30px;
  width: 1px;
  background-color: #182a4f;
  margin: 0 22px;
}

.join-class-status {
  width: 18px;
  height: 18px;
}

.join-class-text-input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 14px;
  background: transparent;
  color: #182a4f;
}
.join-class-text-input::placeholder {
  color: #182A4F;
  font-weight: 400; 
  font-style: normal;
  font-size: 14px; 
}

.join-class-message {
  font-size: 15px;
  margin-top: -10px;
  margin-bottom: 5px;
  height: 22px;
  color: #182a4f;
}

.join-class-confirm-button {
  width: 220px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  border-bottom: 5px solid #8a2901;
  background: #f34d08;
  color:#fff;
  font-size: 32px;
  font-weight: 600;
  transition: transform 0.1s ease;
  transform: translateY(2px);
  
}
.join-class-confirm-text {
  line-height: 60px;
  display: inline-block;
  text-transform: uppercase;
}

.join-class-confirm-button:disabled {
  border-bottom: 5px solid #8a8a8a;
  background: #6d8c87;
  color: #a8a8a8;

}

.join-class-confirm-button:active:not(:disabled) {
  cursor: pointer;
  border-bottom: 0px solid #8a2901;
  background: #f34d08;
  transition: transform 0.1s ease;
  transform: translateY(2px);
}
