.join-class-parent-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 3%;
}

.join-class-parent-container h2 {
  font-size: clamp(19px, 2.2vw, 36px);
  font-weight: 600;
  color: #182a4f;
  margin-bottom: 0;
}

.join-class-container {
  background-color: transparent;
  text-align: center;
  width: clamp(360px, 45vw, 700px);
  justify-self: center !important;
}


.join-class-message {
  font-size: 15px;
  margin-top: -10px;
  margin-bottom: 5px;
  height: 22px;
  color: #182a4f;
}

.join-class-confirm-button {
  width: 220px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  border-bottom: 5px solid #8a2901;
  background: #f34d08;
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  transition: transform 0.1s ease;
  transform: translateY(2px);
}
.join-class-confirm-text {
  line-height: 60px;
  display: inline-block;
  text-transform: uppercase;
}

.join-class-confirm-button:disabled {
  border-bottom: 5px solid #8a8a8a;
  background: #6d8c87;
  color: #a8a8a8;
}

.join-class-confirm-button:active:not(:disabled) {
  cursor: pointer;
  border-bottom: 0px solid #8a2901;
  background: #f34d08;
  transition: transform 0.1s ease;
  transform: translateY(2px);
}

.assignment-join-class-container-scroll {
  transition: transform  0.3s ease-in-out;
  position: relative;
}

.assignment-join-class-container-scroll.shift-up {
  transform: translateY(-46%);
}









