.gender-title {
  font-size: var(--text-size);
  text-align: center;
  color: #05342f;
  margin-bottom: 1.5vh;
}

.main-header {
  width: 100%;
  text-align: -webkit-center;
}

.gender-button {
  background: white;
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 2vh;
  cursor: pointer;
  margin: 0px 3vh;
  min-width: 30vh;
  gap: 10px;
}

.gender-container {
  display: flex;
  justify-content: center;
  margin-bottom: 4vh;
}

.gender-text {
  font-size: var(--text-size);
  align-self: center;
  color: #05342f;
}

.gender-check-box {
  margin-right: 1vh;
}

.age-container {
  display: flex;
  justify-content: center;
}

.age-button {
  height: 12vh;
  width: 12vh;
  margin: 1vh;
  border-radius: 1.1vh;
  background-color: white;
  display: flex;
  justify-content: center;
  font-size: var(--text-size);
  align-items: center;
  color: #05342f;
}

.active-age {
  background: #81c127;
}
.unspecifiedGenderIcon {
  height: 8vh;
  width: auto;
}
