/* ion-select::part(icon) {
  content: url("../../../public/assets/icons/DropDownArrow.png");
} */
ion-select {
  /* background: white; */
  /* padding: 10px 20px; */
  border-radius: 30px;
  height: min(5vh, 40px);
  min-height: 35px;
  
}
ion-select::part(text) {
  color: var(--text-color);
  padding-right: 20px;
  font-size: var(--text-size);
}

ion-popover {
  /* --width: none; */
}

.dropdown-header {
  /* position: relative; */
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  height: min(80vh, 20vh);
  align-content: flex-start;
}
ion-list {
  outline-style: solid;
  outline-width: 0.1px;
  outline-color: black;
  border-radius: var(--border-radius); 
  padding: 0;
  
  
}