.name-header {
  width: 40vw;
  height: 20vh;
}

.text-box {
  width: 100%;
  height: max(6vh, 5vw);
  padding: 2vh;
  border-radius: 1.1vw;
  border: hidden;
  outline: none;
  margin-top: 1vh;
  background-color: white;
  color: #05342f;
}

.title {
  font-size: var(--text-size);
  text-align: center;
  color: #05342f;
}

.main-header {
  width: 100%;
  text-align: -webkit-center;
  height: 20vh;
}