#common-back-button {
    width: clamp(30px,15vh,50px);
    height: clamp(30px,15vh,50px);
    /* padding: 2%; */
    color: black;
    /* fill: white; */
    background-color: white;
    border-radius: 100%;
    /* min-width: 12px;
    min-height: 12px; */    
}
.back-button {
    width: clamp(30px,15vh,50px);
    height: clamp(30px,15vh,50px); 
    color: var(--text-color);
    cursor: pointer;
  }