#common-next-button{
    justify-content: space-between;
    padding-left: min(10px,2vw);
    position: fixed;
    /* top: 3vh; */
    right: 0;
    /* color: var(--text-color); */
    color: #05342f;
    font-size: var(--text-size);
    height: 7vh;
    height: clamp(45px,15vh,45px);
    width: clamp(125px,11vw,125px);
    display: flex;
    align-items: center;
    background: white;
    border-radius: 64px;
}