.select-with-icon-input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

.select-with-icon-floating-label {
  position: absolute;
  top: -11px;
  left: 10px;
  padding: 0 6px;
  font-size: 13px;
  color: #182a4f;
  z-index: 2;
  font-weight: 500;
}

.select-with-icon-input-box::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 12px;
  height: 2px;
  width: fit-content;
  min-width: 65px;
  background-color: white;
  z-index: 1;
}

.select-with-icon-input-label {
  font-size: 14px;
  color: #182a4f;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.select-with-icon-input-box {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 50px;
  border: 1px solid #182a4f;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  cursor: pointer;
}

.select-with-icon-icon-area {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-with-icon-icon-area img {
  width: 24px;
  height: 24px;
}

.select-with-icon-divider {
  width: 1px;
  height: 24px;
  background-color: #182a4f;
  margin: 0 12px;
}

.select-with-icon-selected-text {
  flex: 1;
  font-size: 20px;
  color: #182a4f;
  font-weight: 500;
}

.select-with-icon-status {
  font-size: 18px;
  color: #f34d08;
  pointer-events: none;
}

.select-with-icon-dropdown-arrow {
  font-size: 18px;
}

.select-with-icon-dropdown {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  width: 100%;
  height: 180px;
  background: #ffffff;
  border: 1px solid #182a4f;
  border-top: none;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 999;
  overflow: auto;
}

.select-with-icon-option {
  padding: 14px 20px;
  font-size: 24px;
  color: #182a4f;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  border-top: 1px solid #eee;
  background: white;
}

.select-with-icon-option:hover {
  background-color: #f8f8f8;
}

.select-with-icon-option.selected {
  font-weight: bold;
  color: #f34d08;
}

.checkmark {
  font-size: 18px;
  color: #f34d08;
}

.select-with-icon-status {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-icon {
  color: #f34d08;
  font-size: 24px;
}
