.student-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    font-size: var(--text-size);
    color: #05342f;
}

.student-avatar-img {
    border-radius: 50%;
}

.student-avatar-name {
    white-space: nowrap;
    display: block;
    max-width: 20vh;
    text-overflow: ellipsis;
    overflow: hidden;
}