.add-teacher-main-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-color: white;
}
.add-teacher-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}

.add-teacher-text {
  width: 300px;
  max-width: 60vh;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  color: #707070;
}

.add-teacher-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 300px;
  max-width: 60vh;
  background-color: white;
  border-radius: 2vh;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.add-teacher-input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5vh;
}

.add-teacher-input-group label {
  color: #707070;
  font-size: 16px;
  font-weight: 400;
}

.add-teacher-input-group input {
  padding: 5px;
  border: none;
  background-color: transparent;
  font-size: 18px;
  font-weight: 500;
  color: #707070;
  padding-left: 20px;
}
.add-teacher-input-group input:focus {
  outline: none;
  box-shadow: none;
}

hr.horizontal-line {
  border: 0;
  border-top: 1px solid #ddd;
  margin-top: 5px;
}

.add-teacher-form-actions {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}

.add-teacher-form-actions button {
  margin-top: 5vh;
  border: none;
  border-radius: 0.5vh;
  background-color: #7c5db0;
  color: white;
  font-size: 3vh;
  font-weight: bold;
  cursor: pointer;
  height: 50px;
  width: 200px;
}

.add-teacher-input-group input.error {
  border-bottom: 2px solid red;
}

.add-teacher-label-error {
  color: red !important;
}

