.edit-school-update-button {
  background-color: #7c5db0;
  color: white;
  padding: 9px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 2vh;
}
.edit-school-page {
  background: white;
  height: 100%;
}
.edit-school-button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2vh;
}
.edit-school-text-div {
  font-size: var(--text-sizeXL);
  color: grey;
  padding: 10px 20px 0 20px;
  width: 90%;
  margin: 5px auto;
}
.edit-school-single-container {
  overflow: auto !important;
  width: 100%;
  height: 100%;
  justify-content: center !important;
  align-items: center !important;
}
.edit-school-text {
  color: black;
  justify-content: center;
  text-align: center;
  margin-bottom: 5px;
  font-weight: 800;
  font-size: 18px;
}
.edit-school-content {
  align-self: center;
}

.edit-school-noSchool-text {
  display: flex !important;
  flex-direction: column;
}

.edit-school-noSchool-text p {
  width: 90%;
  color: #808080;
  margin: 10px auto;
  margin-top: 15px;
}

.edit-school-divider {
  border: none;
  background-color: #7c5db0;
  width: 90%;
  height: 2px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 5%;
}

.edit-school-confirm-page {
  background: white;
  height: 100%;
  text-align: center;
}

.edit-school-confirm-title {
  font-size: 22px;
  font-weight: bold;
  color: #808080;
}


.edit-school-confirm-message {
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
  padding: 10px;
  border-radius: 8px;
  color: #808080;
  margin: 15px auto;
  width: 90%;
}

.edit-school-confirm-subtext {
  display: flex;
  margin: auto;
  justify-content: center;
  max-width: 70%;
}
.edit-school-confirm-subtext p, .edit-school-confirm-message p{
  font-size: 16px;
  margin-top: 10px;
  color: #808080;
}

.edit-school-create-school-confirm-subtext p{
  font-size: 16px;
  margin-top: 10px;
  font-weight: 600;
  color: #808080;
}

.edit-school-create-school-youtube-subtext {
  font-size: 12px;
  font-weight: 600;
  color: #808080;
}

.edit-school-app-links, .edit-school-create-school-app-links {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
}

.edit-school-request-box {
  padding: 10px;
  text-align: center;
  width: 90%;
  height: auto;
  cursor: pointer;
  /* min-height: 100%; */
  margin: 15px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-school-request-box > * {
  width: 45%;
}
.edit-school-app-card {
  background-color: #F4EEFE;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  width: 70vw;
  height: auto;
  cursor: pointer;
  min-height: 100%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.edit-school-app-title {
  font-size: 19px;
  color: #7c5db0;
  font-weight: bolder;
}

.edit-school-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}


.edit-school-app-subtext {
  color: #666;
  max-width: 8rem;
}

.edit-school-create-school-app-subtext {
  color: #666;
  max-width: 12rem;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.edit-school-logout-button {
  color: #808080;
  margin-top: 20px;
  width: 25%;
  border: 1px solid #7c5db0;
  border-radius: 5px;
  font-weight: bold;
}

.edit-school-card-content-img {
  width: 5rem;
  max-width: 100%;
  height: 4rem;
}

.edit-school-whatsapp-support {
  position: relative;
  border: 1.5px solid #67D449;
  border-radius: 10px;
  padding: 10px 20px 10px 45px; 
  display: flex;
  align-items: center;
  background: #fff;
  max-width: 90%;
  margin: 15px auto;
  cursor: pointer;
}

.edit-school-create-school-whatsapp-support {
  position: relative;
  border: 1.5px solid #67D449;
  border-radius: 10px;
  padding: 0px; 
  display: flex;
  align-items: center;
  background: #fff;
  height: 50px;
  max-width: 90%;
  margin: 15px auto;
  cursor: pointer;
}
.edit-school-whatsapp-support-icon {
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #25D366;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-school-whatsapp-support-text {
  text-align: center;
  margin: auto; 
}

.edit-school-whatsapp-support-text p {
  font-weight: bold;
  color: #7c5db0;
  font-size: 18px !important;
  margin: auto;
}

.edit-school-create-school-whatsapp-support-text {
  text-align: center;
  margin: auto; 
}
.edit-school-create-school-whatsapp-support-text p {
  font-weight: 500;
  color: #7c5db0;
  font-size: 14px;
  margin: auto;
}

.edit-school-sent-request-header {
  font-size: 18px !important;
  font-weight: 600 !important;
  color: #7c5db0 !important;
}

.edit-school-create-school-youtube-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.edit-school-create-school-youtube-video {
  width: 120px;
  height: 80px;
  border-radius: 10px;
  border: none;
}

.edit-school-span-text-whatsapp{
  font-size: 18px !important;
  font-weight: bold !important;
}

.edit-school-favicon-img{
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-left: 4px;
}

.edit-school-create-school-img-footer {
  font-size: 8px;
  margin-top: 0px;
  color: #666;
}

.edit-school-create-school-card-content-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
}