.main-page {
  background: white;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.school-list {
  overflow-y: auto;
}
.fixed-header {
  position: sticky;
  top: 0;
  z-index: 100;
  background: white;
  width: 100%;
}
.school-div {
  font-size: clamp(20px, 5vh, 24px);
  color: grey;
  padding: 20px 20px 0 20px;
  font-weight: 600;
}
