.search-bar .searchbar-input {
  box-shadow: none;
}
.container-body {
  background-color: white;
  height: 90vh;
  display: block;
  padding: 10px;
}
.lesson-search {
  display: flex;
  align-items: center;
  padding: 30px;
  /* width: 100%; */
  height: 50px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 15px; /* Optional: to round the corners */
}
.search-input-lesson {
  flex-grow: 1;
  border: none;
  outline: none;
  margin-left: 10px;
  font-size: 16px;
  background-color: white;
  color: black;
}
.search-bar {
  background-color: #f4f5f8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  --color: black;
  --placeholder-color: #aaa;
  width: 100%;
}
.searchbar-input-container .sc-ion-searchbar-ios {
  /* height: 60px; */
}
.search-bar .searchbar-input {
  font-size: 16px;
  /* color: var(--color);  */
  box-shadow: none;
}
.search-bar .searchbar-input::placeholder {
  color: var(--placeholder-color);
}
.search-bar .searchbar-clear-icon {
  color: var(--color);
}
.search-input::placeholder {
  color: #aaa;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14vh, 1fr));
  max-height: 80%;
  overflow-y: scroll;
  padding: 10px;
  grid-template-columns: repeat(auto-fill, minmax(14vh, 1fr));
  grid-auto-rows: minmax(100px, auto);
  padding: 10px 10px 70px 10px;
}
@media (orientation: landscape) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(15vw, 1fr));
  }
}
.bottom-border {
  border-bottom: 0.5px solid #838181;
}
.grid-item {
  /* padding: 20px; */
  text-align: center;
}
.chapter-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-color: #7c5db0;
}
