ion-list {
  outline-style: hidden;
}

.phone-number-pop-up {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  align-items: flex-start;
}
.phone-number-pop-up-number {
  display: flex;
  align-items: center;
  padding: 10px 0;
  cursor: pointer;
  width: 100%;
}
.phone-number-pop-up-page{
  padding-left: 20px;
   padding-right: 20px;
   color: black 
} 
