.badges-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(164px, 1fr));
  gap: 1rem;
  justify-items: center;
}

[class^='badges-item-'] {
  position: relative;
  width: 164px;
  height: 151px;
}

.badges-item svg {
  display: block;
}

.badges-base,
.badges-border,
.badges-decoration {
  position: absolute;
  top: 0;
  left: 0;
}

.badges-border {
  z-index: 2;
  width: 164px;
  height: 151px;
}

.badges-base {
  z-index: 1;
  width: 164px;
  height: 132px;
}

.badges-decoration {
  z-index: 3;
  width: 164px;
  height: 112px;
}

.badges-decoration-top-3 {
  top: 3px;
}

.badges-icons {
  position: absolute;
  z-index: 4;
  top: 43px;
  left: 14px;
  display: flex;
  gap: 2px;
}

.badges-icon {
  width: 44px;
  height: 44px;
}

.badges-icon svg {
  width: 44px;
  height: 44px;
}

.badges-number {
  position: absolute;
  z-index: 5;
  right: 0;
  bottom: 20px;
  left: 0;
  color: #005757;
  font-family: 'Baloo2' !important;
  font-size: 2rem !important;
  font-weight: 600;
  line-height: 1;
  text-align: center;
}
