.custom-dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.custom-dialog-box {
  background: white;
  border-radius: 12px;
  padding: 5vw;
  max-width: 90vw;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  text-align: center;
  border: 1px solid #707070;
}

.custom-dialog-header {
  margin-bottom: 1vh;
  font-size: 1rem;
  color: #4A4949;
  font-weight: 600;
  text-align: left;
}

.custom-dialog-message {
  margin-bottom: 2vh;
  font-size: 1rem;
  color: #333;
}

.custom-dialog-buttons {
  display: flex;
  justify-content: space-between;
  gap: 2vw;
}

.custom-dialog-button {
  padding: 0.8vh 3vw;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
}

.custom-dialog-cancel {
  background-color: #D747479E;
  color: white;
  max-width: 130px;
  width: 34vw;
  height: auto;
}

.custom-dialog-confirm {
  background-color: #9BC344;
  color: white;
  width: 122px;
  height: 59px;
}
