.custom-search-bar {
  position: relative;         
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);  
  width: auto;           
  height: auto;              
  display: flex;
  align-items: center;
  margin-top: 5vh;
}

.plain-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  color: #000;
  background: transparent;
  padding-right: 40px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.search-icon-container {
  position: absolute;
  right: 15px;
  top: 60%;
  transform: translateY(-50%);
  font-size: 24px;
  color: black;
  cursor: pointer;
  z-index: 10;
}

.search-icon-container.disabled-icon {
  color: gray;
  pointer-events: none;
}

.toggle-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 5px;
}

.inputField-toggle-text {
  text-transform: none;
  font-size: 14px;
}

.field-error-text {
  margin-top: 5px;
  color: #d31010; 
  font-size: var(--text-size);
}
