.custom-search-bar {
  --background: white;
  padding: 10px;
  border-radius: 10px;
}

.inputField-toggle-text {
  text-transform: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.icon-inside-search {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: black;
}

.toggle-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.search-icon-container.disabled-icon {
  color: gray;
  pointer-events: none;
}
.search-icon-container {
  position: absolute;
  font-size: 24px;
  color: black;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}
.field-error-text {
  margin-top: 5px;
  font-size: var(--text-size);
}
.custom-ion-input .native-input.sc-ion-input-ios {
  padding-inline-start: 30px;
  padding-inline-end: 40px;
}
